<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Presentazione Istanze Online - Comune di Rimini</title>
    <link rel="shortcut icon" href="favicon.ico" />

    <link href="https://fonts.googleapis.com/css?family=Roboto|Montserrat:400,700|Open+Sans:400,300,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- build:css combined.css -->
    <link href="css/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="lib/bootstrap.min.css" rel="stylesheet">

    <link href="lib/bootstrap-material-design/css/bootstrap-material-design.css" rel="stylesheet">
    <link href="lib/bootstrap-material-design/css/ripples.min.css" rel="stylesheet">
    <link href="lib/bootstrap-material-design/css/snackbar.min.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">
    <link href="bower_components/please-wait/build/please-wait.css" rel="stylesheet">
    <link href="bower_components/angular-ui-select/dist/select.css" rel="stylesheet">

    <!--  
    <link href="bower_components/angular-ui-grid/ui-grid.css" rel="stylesheet">
    -->

    <!-- endbuild -->


    <!--
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    -->

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- build:js vendor-combined.js -->

    <!-- ionic/angularjs js -->
    <!-- <script src="lib/ionic/js/ionic.bundle.js"></script> -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>

    <script src="lib/angular-ui-router.js"></script> 
    <!-- <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script> -->

    <script src="lib/ui-bootstrap-tpls-1.3.3.js"></script>

    <script src="lib/jquery-1.10.2.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>

    <!-- bootstrap-material-design -->
    <script src="lib/bootstrap-material-design/js/arrive.min.js"></script>
    <script src="lib/bootstrap-material-design/js/ripples.min.js"></script>
    <script src="lib/bootstrap-material-design/js/material.min.js"></script>
    <script src="lib/bootstrap-material-design/js/snackbar.min.js"></script>
    


    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <!--
    <script src="bower_components/restangular/dist/restangular.min.js"></script>
    -->


    <!-- spinner -->
    <script src="bower_components/spin.js/spin.js"></script>
    <script src="bower_components/angular-spinner/angular-spinner.js"></script>
    


    <!-- angular-dialog-service -->
    <script src="bower_components/angular-dialog-service/dist/dialogs.min.js"></script> 

    <!--
    <script src="bower_components/satellizer/dist/satellizer.js"></script>
    -->
    
  


    <!-- angular-formly
    <script src="bower_components/api-check/dist/api-check.js"></script>
    <script src="bower_components/angular-formly/dist/formly.js"></script>
    <script src="bower_components/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.min.js"></script>
    -->
    

    <script src="bower_components/angular-ui-select/dist/select.min.js"></script>
    <!-- <script src="bower_components/angular-base64-upload/dist/angular-base64-upload.js"></script> -->

<!--

    <script src="lib/angular-simple-logger/dist/angular-simple-logger.min.js"></script>
    <script src="lib/angular-google-maps/dist/angular-google-maps.min.js"></script>

-->

    <!-- <script src="lib/vkbeautify.0.99.00.beta.js"></script> -->

<!--

-->

    <!-- endbower -->


    <!-- ngStorage -->
    <script src="bower_components/ngstorage/ngStorage.min.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <!-- <script src="cordova.js"></script> -->

    <!-- flow upload -->
    <!-- <script src="bower_components/flow.js/dist/flow.js"></script> -->
    <!-- ng-file-upload -->
    <script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script> 

    <!-- SparkMD5 
    <script src="bower_components/SparkMD5/spark-md5.js"></script>
    -->


    <!-- ui-grid  -->
    <link rel="stylesheet" type="text/css" href="bower_components/angular-ui-grid/ui-grid.min.css">
    <script src="bower_components/angular-ui-grid/ui-grid.min.js"></script>
    <!-- -->


    <script src="bower_components/moment/moment.js"></script>
    <!-- chart.js 
    <script src="bower_components/chart.js/dist/Chart.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.min.js"></script>
    -->

    <!-- endbuild -->

    <!-- <script src="bower_components/particles.js/particles.min.js"></script> -->

    <!-- Google Recaptcha-->
    <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit"  async defer></script>

    <!-- build:js vendor-combined2.js -->
    <script type="text/javascript" src="bower_components/angular-recaptcha/release/angular-recaptcha.min.js"></script>

    <!-- UI-Validate -->
    <script type="text/javascript" src="bower_components/angular-ui-validate/dist/validate.min.js"></script>
    

    <!-- ng-table 
    <link rel="stylesheet"; href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
    <script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>
    -->
    


    <!-- socket.io 
    <script src="/socket.io/socket.io.js"></script>
     -->

     <!-- endbuild -->

    <!-- build:js app-combined2.js -->

    <!-- your app's js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/configuration.js"></script>
    <script src="scripts/authService.js"></script>
    <script src="scripts/profileService.js"></script>
    <script src="scripts/postaService.js"></script>
    <!-- <script src="scripts/accountService.js"></script> -->
    <!-- <script src="scripts/formlyService.js"></script> -->
    <script src="scripts/utilsService.js"></script>
    <!-- <script src="scripts/sigService.js"></script>  -->
    <!-- <script src="scripts/socketService.js"></script> -->
    <!-- <script src="scripts/chatService.js"></script> --> 

    <script src="scripts/rootControllers.js"></script>
    <script src="scripts/loginControllers.js"></script>
    <script src="scripts/homeControllers.js"></script>
    <script src="scripts/profileControllers.js"></script>
    <!-- <script src="scripts/sigControllers.js"></script> -->
    <!-- <script src="scripts/SloginControllers.js"></script> -->
    <!-- <script src="scripts/formlyControllers.js"></script> -->
    <!-- <script src="scripts/formlyJirideControllers.js"></script> -->
    <script src="scripts/uigridControllers.js"></script> 
    <!-- <script src="scripts/elezioniControllers.js"></script> -->
    <script src="scripts/protocolloControllers.js"></script>
    <!-- <script src="scripts/batchControllers.js"></script> -->
    <!-- <script src="scripts/sseChatControllers.js"></script> -->
    <!--<script src="scripts/pushControllers.js"></script> -->

    <script src="scripts/filters.js"></script>
    <script src="scripts/rootDirectives.js"></script>
    <script src="scripts/directives/directives.js"></script>  
    <script src="scripts/directives/passwordMatch.js"></script>  
    <script src="scripts/directives/passwordStrength.js"></script>  
      
    <!-- endbuild -->

    <!-- PATCH solo per build dist - templateCache -->   
    <script src="templates.js"></script>
    
    
  </head>

  <body ng-app="myApp" ng-controller="AppCtrl">
<a id="topPosition"></a>


<nav ng-controller="SNavbarCtrl" class="navbar navbar-inverse navbar-static-top navbar-inner">
    <div class="container">
        
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand visible-xs" href="#">Comune di Rimini</a>
        </div>

        <nav class="hidden-xs">
            <ul class="nav navbar-nav">
                <a href="#/" role="button" class="navbar-brand">Comune di Rimini</a>
                <li class="active"><a href="#/">Home</a></li>
                <!-- <li><a href="#!/protocollo">Istanza1</a></li> -->
          </ul>

          <ul class="nav navbar-nav pull-right">
                <li><a ui-sref="elencoIstanze">Elenco Istanze</a></li>
                <li><a ui-sref="elencoAtti">Elenco Atti</a></li>
                <li ng-if="!isAuthenticated()"><a ui-sref="login" ui-sref-active="active">Login</a></li>
                <li ng-if="isAuthenticated()"><a ui-sref="profile">Profilo</a></li>
                <li ng-if="isAuthenticated()"><a ui-sref="logout" ui-sref-active="active">Esci</a></li>
          </ul>

          <ul ng-if="isAuthenticated()" class="nav navbar-nav pull-right">
            <!--  <li><a href="#!/profile">Esci</a></li> -->
          </ul>
        </nav>
        
        <nav uib-collapse="!isCollapsed">
            <ul class="nav navbar-nav">
                <!-- <li><a href="#getting_started" ng-click="isCollapsed = !isCollapsed">Getting started</a></li> -->
                <li class="active" ng-click="switchCollapsed()"><a href="#/">Home</a></li>
                <!-- <li><a ui-sref="protocollo" ng-click="switchCollapsed()">Istanze1</a></li> -->
                <li><a ui-sref="elencoIstanze" ng-click="switchCollapsed()">Elenco Istanze</a></li>
                <li><a ui-sref="elencoAtti">Elenco Atti</a></li>
                <li ng-if="!isAuthenticated()"><a ui-sref="login" ng-click="switchCollapsed()" ui-sref-active="active">Login1</a></li>
                <li ng-if="isAuthenticated()"><a ui-sref="profile" ng-click="switchCollapsed()">Profilo1</a></li>
                <li ng-if="isAuthenticated()"><a ui-sref="logout" ng-click="switchCollapsed()" ui-sref-active="active">Esci1</a></li>
                <!-- <li><a href="#/profile" ng-click="isCollapsed = !isCollapsed">Profile</a></li> -->
                <!--
                <li ng-if="!isAuthenticated()"><a ui-sref="login" ui-sref-active="active">Login</a></li>
                <li ng-if="isAuthenticated()"><a ui-sref="login" ui-sref-active="active">Esci</a></li>
                <li ng-if="isAuthenticated()"><a ui-sref="profile">Profile</a></li>                
                -->
            </ul>
        </nav>


    </div>
</nav>
<p>{{isAuthenticated()}}</p>
<!--
<header class="navbar navbar-default navbar-fixed-top navbar-inner">
    <div class="container">    
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><i class="ion-ios7-pulse-strong"></i>DCA</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#/">Home</a></li>
            <li><a href="#/form">Form1</a></li>
            <li ng-if="isAuthenticated()"><a href="#/profile">Profile</a></li>
            <li ng-if="isAuthenticated()"><a href="#/form">Form</a></li>
            <li ng-if="isAuthenticated()"><a href="#/formAsync">FormAsync</a></li>
            <li ng-if="isAuthenticated()"><a href="#/uigrid">uigrid</a></li>
            <li><a href="#/sigPhoto">Photo</a></li>
          </ul>
          <ul ng-if="!isAuthenticated()" class="nav navbar-nav pull-right">
            <li><a href="#/login">Login</a></li>
            <li><a href="#/signup">Sign up</a></li>
          </ul>
          <ul ng-if="isAuthenticated()" class="nav navbar-nav pull-right">
            <li><a href="#/logout">Logout</a></li>
          </ul>
       </div>
    </div>
</header>
-->

    <!-- loader http://pathgather.github.io/please-wait/ START 
    <div class="inner" ng-view=""></div>
    <script type="text/javascript" src="bower_components/please-wait/build/please-wait.min.js"></script>
    <script type="text/javascript">
      window.loading_screen = window.pleaseWait({
        logo: "images/logo_comune_80x80.gif",
        backgroundColor: '#FFFFFF',
        loadingHtml: "<p class='loading-message'>Attendere...</p>"
      });
    </script>
    loader http://pathgather.github.io/please-wait/ END -->

    <span class="centeredspin" us-spinner="{radius:30, width:8, length: 16, position: relative}" spinner-key="spinner-1"></span>
    <div role="main">
      <section ui-view></section>
    </div>

    

  </body>
</html>
