<h1>Autenticazione FEDERA SPID completata!</h1>
<h2>I dati autenticati sono : </h2>
<h2>E' possibile procedere alla compilazione dei dati</h2>
<form action="/federa/login" method="get">
	<input type="submit" value="LOGIN CON FEDERA"/>
	</div>
</form>