<h1>Istanze</h1>
<p><a href="/cli">Client</a></p>
<p><a href="https://pmlab.comune.rimini.it/simplesaml/FEDERAlogin">LOGIN FEDERA</a></p>
<p><a href="https://pmlab.comune.rimini.it/simplesaml/module.php/saml/sp/metadata.php/default-sp">METADATI</a></p>