<div class="container">
  <div class="panel panel-info">
    <div class="panel-heading">          
             <div class="row">
                <div class="col-sm-11 col-md-10 col-xs-10">
                    <h2>Elenco Atti</h2>
                </div>
              </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">


          <p>In questa pagina si trova l'elenco delle istanze che è possibile presentare attraverso questo portale</p>
          <h3>Istruzioni per l'accesso al servizio</h3>
<p>Per accedere al servizio è <b>OBBLIGATORIO</b>{{msg.lastCellEdited}}</p>

<div id="grid1" ui-grid-edit ui-grid-selection ui-grid-row-edit ui-grid="gridOptions"></div>

<button type="button" id="addData" class="btn btn-success btn-raised btn-sm" ng-click="addData()">Aggiungi una riga</button>
<button type="button" id="removeFirstRow" class="btn btn-warning btn-raised btn-sm" ng-click="removeRow()">Elimina le righe selezionate</button>
<button type="button" id="reset" class="btn btn-success" ng-click="reset()">Reset</button>

<a class="btn btn-block btn-raised btn-warning btn-large" >SALVA TUTTI I DATI</a>


  </div>
</div>
</div>
</div>



  <div class="panel panel-default">
    <div class="panel-heading">          
             <div class="row">
                <div class="col-sm-11 col-md-10 col-xs-10">
                    <h2>Richiesta accesso ai documenti (demo)</h2>
                </div>
              </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">

          <p>Il servizio permette di effettuare in modalità digitale la presentazione delle istanze e dichiarazioni. Esso è basato sul Codice dell'Amministrazione Digitale (CAD), che sancisce il diritto da parte dei cittadini ad interagire con la Pubblica Amministrazione, utilizzando gli strumenti offerti dalle tecnologie ICT in alternativa alle modalità tradizionali basate su moduli cartacei. 
          </p>
    
    
        <button  class="btn btn-raised btn-raised btn-success btn-block" ng-click="goToInviaIstanza()">Procedi</button>

  </div>
</div>
</div>
</div>




  <div class="panel panel-default">
    <div class="panel-heading">          
             <div class="row">
                <div class="col-sm-11 col-md-10 col-xs-10">
                    <h2>Richiesta autorizzazione per posto ambulante (demo)</h2>
                </div>
              </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">

          <p>Il servizio permette di effettuare in modalità digitale la presentazione delle istanze e dichiarazioni. Esso è basato sul Codice dell'Amministrazione Digitale (CAD), che sancisce il diritto da parte dei cittadini ad interagire con la Pubblica Amministrazione, utilizzando gli strumenti offerti dalle tecnologie ICT in alternativa alle modalità tradizionali basate su moduli cartacei. 
          </p>
    
    
        <button  class="btn btn-raised btn-raised btn-success btn-block" ng-click="goToInviaIstanza()">Procedi</button>

  </div>
</div>
</div>
</div>



    

</div>