<div class="container">
  <div class="panel panel-info">
    <div class="panel-heading">          
             <div class="row">
                <div class="col-sm-11 col-md-10 col-xs-10">
                    <h2>Elenco Istanze</h2>
                </div>
              </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">


          <p>Il servizio permette di effettuare in modalità digitale la presentazione delle istanze e dichiarazioni. Esso è basato sul Codice dell'Amministrazione Digitale (CAD), che sancisce il diritto da parte dei cittadini ad interagire con la Pubblica Amministrazione, utilizzando gli strumenti offerti dalle tecnologie ICT in alternativa alle modalità tradizionali basate su moduli cartacei. 
          </p>

  </div>
</div>
</div>
</div>



  <div class="panel panel-default">
    <div class="panel-heading">          
             <div class="row">
                <div class="col-sm-11 col-md-10 col-xs-10">
                    <h2>Richiesta accesso ai documenti (demo)</h2>
                </div>
              </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">

          <p>Il servizio permette di effettuare in modalità digitale la presentazione delle istanze e dichiarazioni. Esso è basato sul Codice dell'Amministrazione Digitale (CAD), che sancisce il diritto da parte dei cittadini ad interagire con la Pubblica Amministrazione, utilizzando gli strumenti offerti dalle tecnologie ICT in alternativa alle modalità tradizionali basate su moduli cartacei. 
          </p>
    
    
        <button  class="Button Button--info u-text-r-xs" ng-click="goToInviaIstanza()">Procedi</button>

  </div>
</div>
</div>
</div>




  <div class="panel panel-default">
    <div class="panel-heading">          
             <div class="row">
                <div class="col-sm-11 col-md-10 col-xs-10">
                    <h2>Richiesta autorizzazione per posto ambulante (demo)</h2>
                </div>
              </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">

          <p>Il servizio permette di effettuare in modalità digitale la presentazione delle istanze e dichiarazioni. Esso è basato sul Codice dell'Amministrazione Digitale (CAD), che sancisce il diritto da parte dei cittadini ad interagire con la Pubblica Amministrazione, utilizzando gli strumenti offerti dalle tecnologie ICT in alternativa alle modalità tradizionali basate su moduli cartacei. 
          </p>
    
    
        <button  class="Button Button--info u-text-r-xs" ng-click="goToInviaIstanza()">Procedi</button>

  </div>
</div>
</div>
</div>



    

</div>