<section>

<div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-r-top u-padding-bottom-xxl">
          
           <h1 class="u-text-h2">Elenco Istanze che è possibile presentare attraverso questo portale</h1>
          
           <article class="Prose">
          

          <p>Il servizio permette di effettuare in modalità digitale la presentazione delle istanze e dichiarazioni. Esso è basato sul Codice dell'Amministrazione Digitale (CAD), che sancisce il diritto da parte dei cittadini ad interagire con la Pubblica Amministrazione, utilizzando gli strumenti offerti dalle tecnologie ICT in alternativa alle modalità tradizionali basate su moduli cartacei. 
          </p>

  
          <hr>

                    <h2>Richiesta accesso ai documenti (demo)</h2>

          <p>Il servizio permette di effettuare in modalità digitale la presentazione delle istanze e dichiarazioni. Esso è basato sul Codice dell'Amministrazione Digitale (CAD), che sancisce il diritto da parte dei cittadini ad interagire con la Pubblica Amministrazione, utilizzando gli strumenti offerti dalle tecnologie ICT in alternativa alle modalità tradizionali basate su moduli cartacei. 
          </p>
    
    
        <button  class="Button Button--info u-text-r-xs" ng-click="goToInviaIstanza()">Procedi</button>

        <hr>

                    <h2>Richiesta autorizzazione per posto ambulante (demo)</h2>

          <p>Il servizio permette di effettuare in modalità digitale la presentazione delle istanze e dichiarazioni. Esso è basato sul Codice dell'Amministrazione Digitale (CAD), che sancisce il diritto da parte dei cittadini ad interagire con la Pubblica Amministrazione, utilizzando gli strumenti offerti dalle tecnologie ICT in alternativa alle modalità tradizionali basate su moduli cartacei. 
          </p>
    
    
        <button  class="Button Button--info u-text-r-xs" ng-click="goToInviaIstanza()">Procedi</button>

           </article>

</div>

</section>
