<div class="container">
  <div class="panel panel-info">
    <div class="panel-heading">          
             <div class="row">
                <div class="col-sm-11 col-md-10 col-xs-10">
                    
                    <h2>Posta del 00/00/0000 utente:  {{user.userid}} </h2>
                   

                </div>
              </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">

      
         <b>Selezionare un centro di costo</b>
         <ui-select ng-model="model.selectedCdc" theme="bootstrap">
            <ui-select-match placeholder="Selezionare un CDC di lavoro">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="item in cdc">
              <div ng-bind-html="item.name"></div>
            </ui-select-choices>
          </ui-select>

        
          <button type="submit"
                  class="btn btn-raised btn-info btn-lg"  
                  ng-click="ricaricaDati()">Ricarica</button>


          <p>In questa pagina si trova l'elenco delle istanze che è possibile presentare attraverso questo portale</p>
          <h3>Elenco destinatari </h3><p>{{msg.lastCellEdited}}</p>

<div id="grid1" ui-grid-edit ui-grid-selection ui-grid-row-edit ui-grid-cellnav ui-grid-exporter ui-grid="gridOptions"></div>

<button type="button" id="addData" class="btn btn-success btn-raised btn-large" ng-click="addData()">Aggiungi una riga</button>
<button type="button" id="removeFirstRow" class="btn btn-warning btn-raised btn-large" ng-click="removeRow()">Elimina le righe selezionate</button>
<button type="button" id="reset" class="btn btn-success" ng-click="resetDebug()">Reset</button>
<button type="button" id="reset" class="btn btn-success btn-raised btn-large" ng-click="exportPdf()">Pdf</button>


  </div>
</div>
</div>
</div>

    

</div>