<div class="container">

<canvas id="line" 
    class="chart chart-bar" 
    chart-data="data" 
    chart-labels="labels" 
    chart-series="series" 
    chart-options="options"
    chart-dataset-override="datasetOverride" 
    chart-click="onClick">
</canvas>


    <div>
      <form ng-submit="vm.onSubmit()" name="vm.form" novalidate>
        <formly-form model="vm.model" fields="vm.fields" options="vm.options" form="vm.form">
          <button type="submit" class="btn btn-lg btn-warning btn-block submit-button" ng-disabled="vm.form.$invalid">Invia i dati</button>
        </formly-form>
      </form>

<!--      
      <p>Form Data</p>
      <pre>{{vm.model | json}}</pre>
      <p>Form Error</p>
      <pre>{{vm.errors | json}}</pre>
-->

    </div>


<table ng-table="vm.tableParams" class="table" show-filter="true">
    <tr ng-repeat="user in $data">
        <td data-title="'Data'" filter="{ name: 'text'}" sortable="'data'">{{user.name}}</td>
        <td data-title="'CntTel'" filter="{ age: 'number'}" sortable="'conteggio'">{{user.age}}</td>
        <td data-title="'Country'" filter="{ country: 'select'}" filter-data="vm.getDatasource($column)">{{user.country}}</td>
    </tr>
</table>

    
</div>