<section>


  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-r-top u-padding-bottom-xxl">

    <h1 class="u-text-h2">
      Istanze Digitali (Beta) Comune di Rimini
    </h1>

    <article class="Prose">
    <p>Il servizio permette di effettuare in modalità digitale la presentazione di istanze e dichiarazioni. Esso è basato sul Codice dell'Amministrazione Digitale (CAD), che sancisce il diritto da parte dei cittadini ad interagire con la Pubblica Amministrazione, utilizzando gli strumenti fferti dalle tecnologie ICT in alternativa alle modalità tradizionali basate su moduli cartacei.</p>


<h2 class="u-text-h3">Limitazioni del servizio</h2>

           <ul>

        <li><p>Attraverso il presente portale è possibile inoltrare solo istanze che sono elencate alla voce "Elenco Istanze"opportunamente strutturate. A tal fine consultare il seguente indirizzo:</p>
        <a class="Button Button--default u-text-r-xs" ui-sref="elencoIstanze" ui-sref-active="active">Elenco delle istanze</a></li>

   <li><p>Per altri procedimenti è necessario verificare che per l'istanza che si vuole inoltrare non sia già stato predisposto un procedimento digitale specifico, in quanto assicura modalità di evasione opportunamente strutturate. A tal fine consultare il seguente indirizzo:</p>
  <a class="Button Button--default u-text-r-xs" href="http://www.comune.rimini.it/trasparenza-e-servizi/servizi">Comune di Rimini - Servizi online</a></li>
  
            </ul>
<h2 class="u-text-h3">Istruzioni per l'accesso al servizio</h2>



<p>Per l'inoltro di istanze attraverso questo portale è <b>OBBLIGATORIO</b> un account FedERa o SPID</p>

<a class="Button Button--default u-text-r-xs" href="https://www.spid.gov.it/">COME OTTENERE UN ACCOUNT ACCOUNT SPID</a> 
 <a class="Button Button--default u-text-r-xs" href=" http://federazione.lepida.it/ ">COME OTTENERE UN ACCOUNT FEDERA</a>



    
    </article>
  </div>


</section>

