<div class="container">
    <div class="well" role="alert">
     <h4>COMUNE DI RIMINI - RICEVIMENTO ISTANZE</h4>
     <p>Compilare accuratamente i dati sottostanti per la trasmissione di una istanza generica</p>
    </div>
    

    

       <!-- create our form -->
    <form name="vm.userForm" ng-show="vm.bshowForm">

<div class="panel panel-success">
  <div class="panel-heading">Dati</div>
  <div class="panel-body">


      <div class="row">

          <div class="col-md-6">

                <div class="form-group">
                    <label>Nome</label>
                    <input  type="text" 
                            class="form-control" 
                            name="nomeRichiedente" 
                            ng-model="vm.model.nomeRichiedente"
                            ng-minlength="1"
                            ng-maxlength="100"
                            required>
                        
                    <div ng-messages="vm.userForm.nomeRichiedente.$error" style="color:maroon" role="alert">
                        <div ng-message="required"  class="label label-danger">Campo richiesto</div>
                        <div ng-message="minlength" class="label label-danger">Valore troppo corto</div>
                        <div ng-message="maxlength" class="label label-danger">Valore troppo lungo</div>
                    </div>
                </div>

        </div>

        <div class="col-md-6">


        <!-- email field -->
        <div class="form-group">
            <label>Cognome</label>
            <input type="text" 
                name="cognomeRichiedente" class="form-control" 
                ng-model="vm.model.cognomeRichiedente"
                ng-minlength="1"
                ng-maxlength="100"
                required>
                
            <div ng-messages="vm.userForm.cognomeRichiedente.$error" style="color:maroon" role="alert">
                <div ng-message="required"  class="label label-danger">Campo richiesto</div>
                <div ng-message="minlength" class="label label-danger">Valore troppo corto</div>
                <div ng-message="maxlength" class="label label-danger">Valore troppo lungo</div>
            </div>
            <!-- ngMessages goes here -->

        </div>

    </div>

</div>  <!-- row -->


      <div class="row">

          <div class="col-md-6">

        <!-- nome field -->
        <div class="form-group">
            <label>Codice Fiscale</label>
            <input  type="text" 
                    class="form-control" 
                    name="codiceFiscaleRichiedente" 
                    ng-model="vm.model.codiceFiscaleRichiedente"
                    ng-minlength="16"
                    ng-maxlength="16"
                    required>
                
            <div ng-messages="vm.userForm.codiceFiscaleRichiedente.$error" style="color:maroon" role="alert">
                <div ng-message="required"  class="label label-danger">Campo richiesto</div>
                <div ng-message="minlength" class="label label-danger">Valore troppo corto</div>
                <div ng-message="maxlength" class="label label-danger">Valore troppo lungo</div>
            </div>
        </div>

        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Data di Nascita</label>
                <input type="text"
                    placeholder="GG/MM/AAAA" 
                    name="dataNascitaRichiedente" class="form-control"
                    min="01-01-1900"
                    max="31-12-2100" 
                    ng-model="vm.model.dataNascitaRichiedente"
                    ng-minlength="10"
                    ng-maxlength="10"
                    required>
                    
                <div ng-messages="vm.userForm.dataNascitaRichiedente.$error" style="color:maroon" role="alert">
                    <div ng-message="required"  class="label label-danger">Campo richiesto</div>
                    <div ng-message="minlength" class="label label-danger">Valore troppo corto</div>
                    <div ng-message="maxlength" class="label label-danger">Valore troppo lungo</div>
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="form-group">
                <label>Cellulare</label>
                <input type="number" 
                    name="cellulareRichiedente" class="form-control" 
                    ng-model="vm.model.cellulareRichiedente"
                    ng-minlength="1"
                    ng-maxlength="100"
                    required>
                    
                <div ng-messages="vm.userForm.cellulareRichiedente.$error" style="color:maroon" role="alert">
                    <div ng-message="required"  class="label label-danger">Campo richiesto</div>
                    <div ng-message="minlength" class="label label-danger">Valore troppo corto</div>
                    <div ng-message="maxlength" class="label label-danger">Valore troppo lungo</div>
                </div>
            </div>
        </div>

</div>  <!-- row -->


<!--
<div class="panel panel-success">
  <div class="panel-heading">Dettaglio dell' istanza</div>
  <div class="panel-body">
        <div class="form-group">
            <label>Descrizione</label>
            <input  type="text" 
                    class="form-control" 
                    name="descrizione" 
                    ng-model="vm.model.descrizione"
                    ng-minlength="10"
                    ng-maxlength="200"
                    required>
                
            <div ng-messages="vm.userForm.descrizione.$error" style="color:maroon" role="alert">
                <div ng-message="required" class="label label-danger">Descrizione obbligatoria</div>
                <div ng-message="minlength" class="label label-danger">Descrizione field is too short</div>
                <div ng-message="maxlength" class="label label-danger">Descrizione field is too long</div>
            </div>
        </div>
        
    </div>
    </div>
-->

<!-- BLOCCO INDIRIZZO ------------------------------------------------------------------------ -->


    <div class="row">
          <div class="col-md-6">
                <div class="form-group">
                    <label>Indirizzo</label>
                    <input  name="indirizzoRichiedente" 
                            type="text" 
                            class="form-control" 
                            required 
                            ng-model="vm.model.indirizzoRichiedente" 
                            placeholder="password">
                    <div ng-messages="vm.userForm.indirizzoRichiedente.$error" style="color:maroon" role="alert">
                        <div ng-message="required"  class="label label-danger">Campo richiesto</div>
                        <div ng-message="minlength" class="label label-danger">Valore troppo corto</div>
                        <div ng-message="maxlength" class="label label-danger">Valore troppo lungo</div>
                        <div ng-message="email" class="label label-danger">MMValore troppo lungo</div>
                    </div>
              </div>
          </div>

          <div class="col-md-3">
                <div class="form-group">
                    <label>Città</label>

                    <input  name="cittaRichiedente" 
                            type="text" 
                            class="form-control" 
                            required 
                            ng-model="vm.model.cittaRichiedente" 
                            placeholder="conferma password">
         
                <div ng-messages="vm.userForm.cittaRichiedente.$error" style="color:maroon" role="alert">
                        <div ng-message="required"  class="label label-danger">Campo richiesto</div>
                        <div ng-message="minlength" class="label label-danger">Valore troppo corto</div>
                        <div ng-message="email" class="label label-danger">MMMMMNO MATCH</div>
                        <div ng-message="validator" class="label label-danger">NO MATCH</div>
                </div>
            </div>
        </div>

          <div class="col-md-3">
                <div class="form-group">
                    <label>CAP</label>

                    <input  name="capRichiedente" 
                            type="number" 
                            class="form-control" 
                            required 
                            ng-model="vm.model.capRichiedente" 
                            placeholder="CAP">
         
                <div ng-messages="vm.userForm.capRichiedente.$error" style="color:maroon" role="alert">
                        <div ng-message="required"  class="label label-danger">Campo richiesto</div>
                        <div ng-message="minlength" class="label label-danger">Valore troppo corto</div>
                        <div ng-message="email" class="label label-danger">Email non uguali</div>
                </div>
            </div>
        </div>
  </div>


<!-- BLOCCO EMAIL COMUNICAZIONI --------------------------------------------------------------------- -->


    <div class="row">
          <div class="col-md-6">
                <div class="form-group">
                    <label>Email (per le comunicazioni)</label>
                    <input  name="password" 
                            type="email" 
                            class="form-control" 
                            required 
                            ng-model="vm.model.emailRichiedente" 
                            placeholder="password">
                    <div ng-messages="vm.userForm.password.$error" style="color:maroon" role="alert">
                        <div ng-message="required"  class="label label-danger">Campo richiesto</div>
                        <div ng-message="minlength" class="label label-danger">Valore troppo corto</div>
                        <div ng-message="maxlength" class="label label-danger">Valore troppo lungo</div>
                        <div ng-message="email" class="label label-danger">Email non valida</div>
                    </div>
              </div>
          </div>

          <div class="col-md-6">
                <div class="form-group">
                    <label>Email (per le comunicazioni) - RIPETERE</label>

                    <input  name="confirm_password" 
                            type="email" 
                            class="form-control" 
                            required 
                            ng-model="vm.model.emailRichiedenteConferma" 
                            ui-validate=" '$value==vm.model.emailRichiedente' "
                            ui-validate-watch=" 'vm.model.emailRichiedente' " 
                            placeholder="conferma password">
         
                <div ng-messages="vm.userForm.confirm_password.$error" style="color:maroon" role="alert">
                        <div ng-message="required"  class="label label-danger">Campo richiesto</div>
                        <div ng-message="minlength" class="label label-danger">Valore troppo corto</div>
                        <div ng-message="email" class="label label-danger">Email non valida</div>
                        <div ng-message="validator" class="label label-danger">Email non identiche</div>
                </div>
            </div>
        </div>
  </div>



<!-- BLOCCO TESTO DESCRIZIONE ------------------------------------------------- -->



      <div class="row">

          <div class="col-md-12">

        <!-- nome field -->
        <div class="form-group">
            <label>Descrizione / Oggetto istanza (Max 300 caratteri)</label>
            <textarea  
                    class="form-control" 
                    name="oggettoRichiedente" 
                    ng-model="vm.model.oggettoRichiedente"
                    ng-minlength="1"
                    ng-maxlength="300"
                    placeholder="inserire qui la descrizione dell'istanza"
                    required></textarea>
                
            <div ng-messages="vm.userForm.oggettoRichiedente.$error" style="color:maroon" role="alert">
                <div ng-message="required"  class="label label-danger">Campo richiesto</div>
                <div ng-message="minlength" class="label label-danger">Valore troppo corto</div>
                <div ng-message="maxlength" class="label label-danger">Valore troppo lungo</div>
            </div>
        </div>

        </div>

</div>  <!-- row -->

  


   <div class="form-group">
     <label  for="inputFile1">Carta Identità Fronte - (dimensione massima 10Mb) {{vm.model.picFile1_info}}</label>
      <input    id="inputFile1"
                class="btn btn-raised btn-success btn-block"
                type="file" 
                ng-model="vm.model.picFile1" 
                name="file1"    
                accept="*/*" 
                ngf-select 
                ngf-min-size="1"
                ngf-max-size="10MB" 
                ngf-change="vm.calcHash($file)"
                ngf-model-invalid="errorFile">
 

      <span class="label label-danger" ng-show="vm.userForm.file1.$error.required">Allegato obbligatorio</span>
      <span class="label label-danger" ng-show="vm.userForm.file1.$error.maxSize" class="badge">File troppo grande {{errorFile.size / 1000000|number:1}}MB: max 10Mb</span>
      <span class="label label-danger" ng-show="vm.userForm.file1.$error.minSize" class="badge">File troppo piccolo {{errorFile.size / 1000000|number:1}}MB: max 10Mb</span>
   </div>

   <div class="form-group">
     <label  for="inputFile2">Carta Identità Retro - (dimensione massima 10Mb)</label>
      <input    id="inputFile2"
                class="btn btn-raised btn-success  btn-block"
                type="file" 
                ng-model="vm.model.ciFile2" 
                name="ciFile2"    
                accept="*/*" 
                ngf-select 
                ngf-max-size="10MB" 
                ngf-change="vm.calcHash($file)"
                ngf-model-invalid="errorFile">
 

      <span class="label label-danger" ng-show="vm.userForm.ciFile2.$error.maxSize" class="badge">File troppo grande 
          {{errorFile.size / 1000000|number:1}}MB: max 10Mb</span>
   </div>

   <div class="form-group">
     <label  for="inputFile3">Scansione Istanza - (dimensione massima 10Mb)</label>
     
      <input    id="inputFile3"
                class="btn btn-raised btn-success btn-block"
                type="file" 
                ng-model="vm.model.ciFile3" 
                name="ciFile3"    
                accept="*/*" 
                ngf-select 
                ngf-max-size="10MB" 
                ngf-change="vm.calcHash($file)"
                ngf-model-invalid="errorFile">
 

      <span class="label label-danger" ng-show="vm.userForm.ciFile3.$error.maxSize" class="badge">File troppo grande 
          {{errorFile.size / 1000000|number:1}}MB: max 10Mb</span>
   </div>

<!--

   <div class="form-group">
     <label  for="inputFileCSS" class="btn btn-block btn-raised btn-success"><i class="material-icons">note_add</i> {{vm.labelInputFileCSS}}</label>
     
      <input    id="inputFileCSS"
                class="inputfile inputfile-1"
                type="file" 
                ng-model="vm.model.inputFileCSS" 
                name="inputFileCSS"    
                accept="*/*" 
                ng-hide="true"
                ngf-select 
                ngf-max-size="1MB" 
                ngf-change="vm.onInputFileChange($file)"
                ngf-model-invalid="errorFile"> 

      <span class="label label-danger" ng-show="vm.userForm.inputFileCSS.$error.maxSize" class="badge">File troppo grande 
          {{errorFile.size / 1000000|number:1}}MB: max 2M</span>
   </div>

-->

  </div>
</div>

<!--
   <div class="form-group">
     <label>Allegato n.2 - Illimitato</label>
      <input    
                class="btn btn-success btn-block"
                type="file" 
                ngf-select 
                ng-model="vm.model.picFile2" 
                name="file2"    
                accept="*/*" 
                required
                ngf-change="vm.calcHash($file)"
                ngf-model-invalid="errorFile">
   <span class="label label-danger" ng-show="vm.userForm.file2.$error.required" class="btn-danger">Allegato obbligatorio</span>
   <span class="label label-danger" ng-show="vm.userForm.file2.$error.maxSize" class="btn-danger">File too large {{errorFile.size / 1000000|number:1}}MB: max 2M</span>
   </div>
-->




<div class="panel panel-warning">
  <div class="panel-heading">Codice Sicurezza Antifrode</div>
  <div class="panel-body">


  <div class="form-group">

    <p>SEGNAPOSTO..TEST</p>

    <!--
    <div    vc-recaptcha   
            ng-model="vm.model.RecaptchaResponse"
            key="'6Ldg6AwUAAAAAPgKoqezNrIVEsmdm7uafTop0r84'"></div>
  </div>
  -->
</div>
</div>



        <div class="form-group">
            <button type="submit"
                    ng-disabled="!vm.userForm.$valid" 
                    class="btn btn-raised btn-info btn-block btn-lg"  
                    ng-click="vm.onSubmit()">Invia richiesta</button>
        </div>

        
    </form>


<div id="responseArea" ng-show="!vm.bshowForm">


    <div class="alert alert-success" ng-if="vm.responseMessage.code === 200">
       <h4><i class="material-icons">done</i> {{vm.responseMessage.title}}  ({{vm.responseMessage.code}})</h4>
       <p>Promemoria - Presentazione Istanza</p>
       <p>Con la presente si conferma la ricezione della istanza presentata con i seguenti dati:<p>

       <table class="table">
       <tbody>
       <tr>
            <td>Protocollo:</td>
            <td>{{vm.responseMessage.msg.annoProtocollo}}/{{vm.responseMessage.msg.numeroProtocollo}}</td>
      </tr>
             <tr>
            <td>Nome Cognome:</td>
            <td>{{vm.responseMessage.msg.nomeRichiedente}}/{{vm.responseMessage.msg.cognomeRichiedente}}</td>
      </tr>
             <tr>
            <td>CodiceFiscale:</td>
            <td>{{vm.responseMessage.msg.codiceFiscaleRichiedente}}</td>
      </tr>
             <tr>
            <td>Email:</td>
            <td>{{vm.responseMessage.msg.emailRichiedente}}</td>
      </tr>
       </tbody>
       </table>
  

       <p>Le è stata inviata una mail all'indirizzo specificato nella richiesta con i presenti dati di riepilogo.</p>
       <p>Per ogni informazione può contattare ....</p>

         <button type="submit"
                    class="btn btn-raised btn-info btn-block btn-lg"  
                    ng-click="vm.show_Form()">Nuova trasmissione</button>


    </div>
    <div class="alert alert-danger" ng-if="vm.responseMessage.code != 200">
       <h4><i class="material-icons">error</i> {{vm.responseMessage.title}}  ({{vm.responseMessage.code}})</h4>
        <h5> {{vm.responseMessage.msg}} </h5>
        <h5> Riprovare più tardi.</h5>
        <h5> Una segnalazione è già stata inviata all'amministratore di sistema.</h5>
        <p><b>Identificativo della richiesta:{{vm.responseMessage.reqId}} <b><br><br>Grazie</p>

         <button type="submit"
                    class="btn btn-raised btn-info btn-block btn-lg"  
                    ng-click="vm.show_Form()">Riprova la trasmissione</button>
        
    </div>

</div>

<!--
    <pre>vm.userForm.$valid = {{ vm.userForm.$valid | json }}</pre>
    <pre>vm.userForm.name.$error = {{ vm.userForm.name.$error | json }}</pre>
    <pre>vm.userForm.name.$touched = {{ vm.userForm.name.$touched | json }}</pre>
    <pre>vm.userForm = {{ vm.userForm| json }}</pre>
    <pre>vm.model.picFile1 = {{ vm.model.picFile1 }}</pre>
    
    
      
      <p>Form Data</p>
      <pre>{{vm.model | json}}</pre>
      <p>Form Error</p>
      <pre>{{vm.errors | json}}</pre>
    </div>
    <p>reCaptcha - http://vividcortex.github.io/angular-recaptcha/ </p>
    <p>hashMe.js - https://github.com/marcu87/hashme </p>
    <p>ng-file-upload - https://github.com/danialfarid/ng-file-upload </p>
    <p>csrf - https://www.theodo.fr/blog/2015/04/preventing-csrf-attacks-with-express-and-angularjs/ </p>
    <p>Serve static files in route - http://stackoverflow.com/questions/11569181/serve-static-files-on-a-dynamic-route-using-express </p>
    <p>CSS Input Style - http://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/</p>
    <p>Double Mail - http://stackoverflow.com/questions/22173016/comparing-two-input-values-in-a-form-validation-with-angularjs</p>
    <p>UI-Validate - https://github.com/angular-ui/ui-validate </p>
    <div>
        <p>Output</p>
        <pre>{{outputStatusCode}}</pre>
        <pre>{{outputResponse}}</pre>
    </div>

-->

</div>      
