<div class="container">

<div class="well" ng-show="bshowForm" role="alert">
     <h4>COMUNE DI RIMINI - ISTANZE E DICHIARAZIONI ONLINE</h4>
     <p>Compilare accuratamente i dati sottostanti per la trasmissione di una istanza generica</p>
</div>
    

    
<div  ng-show="bshowForm">
       <!-- create our form -->
    <form name="vm.userForm">

<div class="panel panel-success">
  <div class="panel-heading">Dati</div>
  <div class="panel-body">


      <div class="row">

          <div class="col-md-6">

                <div class="form-group">
                    <label>Nome</label>
                    <input  type="text" 
                            class="form-control" 
                            name="nomeRichiedente" 
                            ng-model="vm.model.nomeRichiedente"
                            ng-minlength="1"
                            ng-maxlength="100"
                            required>
                        
                    <div ng-messages="vm.userForm.nomeRichiedente.$error" style="color:maroon" role="alert">
                        <div ng-message="required"  class="label label-danger">Campo richiesto</div>
                        <div ng-message="minlength" class="label label-danger">Valore troppo corto</div>
                        <div ng-message="maxlength" class="label label-danger">Valore troppo lungo</div>
                    </div>
                </div>

        </div>

        <div class="col-md-6">


        <!-- email field -->
        <div class="form-group">
            <label>Cognome</label>
            <input type="text" 
                name="cognomeRichiedente" class="form-control" 
                ng-model="vm.model.cognomeRichiedente"
                ng-minlength="1"
                ng-maxlength="100"
                required>
                
            <div ng-messages="vm.userForm.cognomeRichiedente.$error" style="color:maroon" role="alert">
                <div ng-message="required"  class="label label-danger">Campo richiesto</div>
                <div ng-message="minlength" class="label label-danger">Valore troppo corto</div>
                <div ng-message="maxlength" class="label label-danger">Valore troppo lungo</div>
            </div>
            <!-- ngMessages goes here -->

        </div>

    </div>

</div>  <!-- row -->


      <div class="row">

          <div class="col-md-6">

        <!-- nome field -->
        <div class="form-group">
            <label>Codice Fiscale</label>
            <input  type="text" 
                    class="form-control" 
                    name="codiceFiscaleRichiedente" 
                    ng-model="vm.model.codiceFiscaleRichiedente"
                    ng-minlength="16"
                    ng-maxlength="16"
                    required>
                
            <div ng-messages="vm.userForm.codiceFiscaleRichiedente.$error" style="color:maroon" role="alert">
                <div ng-message="required"  class="label label-danger">Campo richiesto</div>
                <div ng-message="minlength" class="label label-danger">Valore troppo corto</div>
                <div ng-message="maxlength" class="label label-danger">Valore troppo lungo</div>
            </div>
        </div>

        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Data di Nascita</label>
                <input type="text"
                    placeholder="GG/MM/AAAA" 
                    name="dataNascitaRichiedente" class="form-control"
                    min="01-01-1900"
                    max="31-12-2100" 
                    ng-model="vm.model.dataNascitaRichiedente"
                    ng-minlength="10"
                    ng-maxlength="10"
                    required>
                    
                <div ng-messages="vm.userForm.dataNascitaRichiedente.$error" style="color:maroon" role="alert">
                    <div ng-message="required"  class="label label-danger">Campo richiesto</div>
                    <div ng-message="minlength" class="label label-danger">Valore troppo corto</div>
                    <div ng-message="maxlength" class="label label-danger">Valore troppo lungo</div>
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="form-group">
                <label>Cellulare</label>
                <input type="number" 
                    name="cellulareRichiedente" class="form-control" 
                    ng-model="vm.model.cellulareRichiedente"
                    ng-minlength="1"
                    ng-maxlength="100"
                    required>
                    
                <div ng-messages="vm.userForm.cellulareRichiedente.$error" style="color:maroon" role="alert">
                    <div ng-message="required"  class="label label-danger">Campo richiesto</div>
                    <div ng-message="minlength" class="label label-danger">Valore troppo corto</div>
                    <div ng-message="maxlength" class="label label-danger">Valore troppo lungo</div>
                </div>
            </div>
        </div>

</div>  <!-- row -->


<!--
<div class="panel panel-success">
  <div class="panel-heading">Dettaglio dell' istanza</div>
  <div class="panel-body">
        <div class="form-group">
            <label>Descrizione</label>
            <input  type="text" 
                    class="form-control" 
                    name="descrizione" 
                    ng-model="vm.model.descrizione"
                    ng-minlength="10"
                    ng-maxlength="200"
                    required>
                
            <div ng-messages="vm.userForm.descrizione.$error" style="color:maroon" role="alert">
                <div ng-message="required" class="label label-danger">Descrizione obbligatoria</div>
                <div ng-message="minlength" class="label label-danger">Descrizione field is too short</div>
                <div ng-message="maxlength" class="label label-danger">Descrizione field is too long</div>
            </div>
        </div>
        
    </div>
    </div>
-->

<!-- BLOCCO INDIRIZZO ------------------------------------------------------------------------ -->


    <div class="row">
          <div class="col-md-6">
                <div class="form-group">
                    <label>Indirizzo</label>
                    <input  name="indirizzoRichiedente" 
                            type="text" 
                            class="form-control" 
                            required 
                            ng-model="vm.model.indirizzoRichiedente" 
                            placeholder="password">
                    <div ng-messages="vm.userForm.indirizzoRichiedente.$error" style="color:maroon" role="alert">
                        <div ng-message="required"  class="label label-danger">Campo richiesto</div>
                        <div ng-message="minlength" class="label label-danger">Valore troppo corto</div>
                        <div ng-message="maxlength" class="label label-danger">Valore troppo lungo</div>
                        <div ng-message="email" class="label label-danger">MMValore troppo lungo</div>
                    </div>
              </div>
          </div>

          <div class="col-md-3">
                <div class="form-group">
                    <label>Città</label>

                    <input  name="cittaRichiedente" 
                            type="text" 
                            class="form-control" 
                            required 
                            ng-model="vm.model.cittaRichiedente" 
                            placeholder="conferma password">
         
                <div ng-messages="vm.userForm.cittaRichiedente.$error" style="color:maroon" role="alert">
                        <div ng-message="required"  class="label label-danger">Campo richiesto</div>
                        <div ng-message="minlength" class="label label-danger">Valore troppo corto</div>
                        <div ng-message="email" class="label label-danger">MMMMMNO MATCH</div>
                        <div ng-message="validator" class="label label-danger">NO MATCH</div>
                </div>
            </div>
        </div>

          <div class="col-md-3">
                <div class="form-group">
                    <label>CAP</label>

                    <input  name="capRichiedente" 
                            type="number" 
                            class="form-control" 
                            required 
                            ng-model="vm.model.capRichiedente" 
                            placeholder="CAP">
         
                <div ng-messages="vm.userForm.capRichiedente.$error" style="color:maroon" role="alert">
                        <div ng-message="required"  class="label label-danger">Campo richiesto</div>
                        <div ng-message="minlength" class="label label-danger">Valore troppo corto</div>
                        <div ng-message="email" class="label label-danger">Email non uguali</div>
                </div>
            </div>
        </div>
  </div>


<!-- BLOCCO EMAIL COMUNICAZIONI --------------------------------------------------------------------- -->


    <div class="row">
          <div class="col-md-6">
                <div class="form-group">
                    <label>Email (per le comunicazioni)</label>
                    <input  name="password" 
                            type="email" 
                            class="form-control" 
                            required 
                            ng-model="vm.model.emailRichiedente" 
                            placeholder="password">
                    <div ng-messages="vm.userForm.password.$error" style="color:maroon" role="alert">
                        <div ng-message="required"  class="label label-danger">Campo richiesto</div>
                        <div ng-message="minlength" class="label label-danger">Valore troppo corto</div>
                        <div ng-message="maxlength" class="label label-danger">Valore troppo lungo</div>
                        <div ng-message="email" class="label label-danger">Email non valida</div>
                    </div>
              </div>
          </div>

          <div class="col-md-6">
                <div class="form-group">
                    <label>Email (per le comunicazioni) - RIPETERE</label>

                    <input  name="confirm_password" 
                            type="email" 
                            class="form-control" 
                            required 
                            ng-model="vm.model.emailRichiedenteConferma" 
                            ui-validate=" '$value==vm.model.emailRichiedente' "
                            ui-validate-watch=" 'vm.model.emailRichiedente' " 
                            placeholder="conferma password">
         
                <div ng-messages="vm.userForm.confirm_password.$error" style="color:maroon" role="alert">
                        <div ng-message="required"  class="label label-danger">Campo richiesto</div>
                        <div ng-message="minlength" class="label label-danger">Valore troppo corto</div>
                        <div ng-message="email" class="label label-danger">Email non valida</div>
                        <div ng-message="validator" class="label label-danger">Email non identiche</div>
                </div>
            </div>
        </div>
  </div>



<!-- BLOCCO TESTO DESCRIZIONE ------------------------------------------------- -->



      <div class="row">

          <div class="col-md-12">

        <!-- nome field -->
        <div class="form-group">
            <label>Descrizione / Oggetto istanza (Max 300 caratteri)</label>
            <textarea  
                    class="form-control" 
                    name="oggettoRichiedente" 
                    ng-model="vm.model.oggettoRichiedente"
                    ng-minlength="1"
                    ng-maxlength="300"
                    placeholder="inserire qui la descrizione dell'istanza"
                    required></textarea>
                
            <div ng-messages="vm.userForm.oggettoRichiedente.$error" style="color:maroon" role="alert">
                <div ng-message="required"  class="label label-danger">Campo richiesto</div>
                <div ng-message="minlength" class="label label-danger">Valore troppo corto</div>
                <div ng-message="maxlength" class="label label-danger">Valore troppo lungo</div>
            </div>
        </div>

        </div>

</div>  <!-- row -->

  


   <div class="form-group">
     <label  for="inputFile1">Scansione Istanza - (dimensione massima 10Mb)</label>
      <input    id="inputFile1"
                class="btn btn-raised btn-success btn-block"
                type="file" 
                ng-model="vm.model.ciFile1" 
                name="file1"    
                accept="*/*" 
                ngf-select 
                ngf-min-size="1"
                ngf-max-size="10MB" 
                ngf-model-invalid="errorFile">
 

      <span class="label label-danger" ng-show="vm.userForm.file1.$error.required">Allegato obbligatorio</span>
      <span class="label label-danger" ng-show="vm.userForm.file1.$error.maxSize" class="badge">File troppo grande {{errorFile.size / 1000000|number:1}}MB: max 10Mb</span>
      <span class="label label-danger" ng-show="vm.userForm.file1.$error.minSize" class="badge">File troppo piccolo {{errorFile.size / 1000000|number:1}}MB: max 10Mb</span>
   </div>

   <div class="form-group">
     <label  for="inputFile2">Carta Identità Fronte - (dimensione massima 10Mb) {{vm.model.picFile1_info}}</label>
      <input    id="inputFile2"
                class="btn btn-raised btn-success  btn-block"
                type="file" 
                ng-model="vm.model.ciFile2" 
                name="file2"    
                accept="*/*" 
                ngf-select 
                ngf-min-size="1"
                ngf-max-size="10MB" 
                ngf-model-invalid="errorFile">
 

      <span class="label label-danger" ng-show="vm.userForm.file2.$error.required">Allegato obbligatorio</span>
      <span class="label label-danger" ng-show="vm.userForm.file2.$error.maxSize" class="badge">File troppo grande 
          {{errorFile.size / 1000000|number:1}}MB: max 10Mb</span>
       <span class="label label-danger" ng-show="vm.userForm.file2.$error.minSize" class="badge">File troppo piccolo {{errorFile.size / 1000000|number:1}}MB: max 10Mb</span>          
   </div>

   <div class="form-group">
     <label  for="inputFile3">Carta Identità Retro - (dimensione massima 10Mb)</label>
     
      <input    id="inputFile3"
                class="btn btn-raised btn-success btn-block"
                type="file" 
                ng-model="vm.model.ciFile3" 
                name="file3"    
                accept="*/*" 
                ngf-select 
                ngf-min-size="1"
                ngf-max-size="10MB" 
                ngf-model-invalid="errorFile">
 
      <span class="label label-danger" ng-show="vm.userForm.file3.$error.required">Allegato obbligatorio</span>
      <span class="label label-danger" ng-show="vm.userForm.file3.$error.maxSize" class="badge">File troppo grande 
          {{errorFile.size / 1000000|number:1}}MB: max 10Mb</span>
      <span class="label label-danger" ng-show="vm.userForm.file3.$error.minSize" class="badge">File troppo piccolo {{errorFile.size / 1000000|number:1}}MB: max 10Mb</span>                    
   </div>

<!--

   <div class="form-group">
     <label  for="inputFileCSS" class="btn btn-block btn-raised btn-success"><i class="material-icons">note_add</i> {{vm.labelInputFileCSS}}</label>
     
      <input    id="inputFileCSS"
                class="inputfile inputfile-1"
                type="file" 
                ng-model="vm.model.inputFileCSS" 
                name="inputFileCSS"    
                accept="*/*" 
                ng-hide="true"
                ngf-select 
                ngf-max-size="1MB" 
                ngf-change="vm.onInputFileChange($file)"
                ngf-model-invalid="errorFile"> 

      <span class="label label-danger" ng-show="vm.userForm.inputFileCSS.$error.maxSize" class="badge">File troppo grande 
          {{errorFile.size / 1000000|number:1}}MB: max 2M</span>
   </div>

-->

  </div>
</div>

<!--
   <div class="form-group">
     <label>Allegato n.2 - Illimitato</label>
      <input    
                class="btn btn-success btn-block"
                type="file" 
                ngf-select 
                ng-model="vm.model.picFile2" 
                name="file2"    
                accept="*/*" 
                required
                ngf-change="vm.calcHash($file)"
                ngf-model-invalid="errorFile">
   <span class="label label-danger" ng-show="vm.userForm.file2.$error.required" class="btn-danger">Allegato obbligatorio</span>
   <span class="label label-danger" ng-show="vm.userForm.file2.$error.maxSize" class="btn-danger">File too large {{errorFile.size / 1000000|number:1}}MB: max 2M</span>
   </div>
-->




<div class="panel panel-warning">
  <div class="panel-heading">Codice Sicurezza Antifrode</div>
  <div class="panel-body">


  <div class="form-group">

    
<!--  
    <div    vc-recaptcha   
            ng-model="vm.model.RecaptchaResponse"
            key="'6Ldg6AwUAAAAAPgKoqezNrIVEsmdm7uafTop0r84'"></div> 
  </div>
  
-->  

</div>
</div>



        <div class="form-group">
            <button type="submit"
                    ng-disabled="!vm.userForm.$valid" 
                    class="btn btn-raised btn-info btn-block btn-lg"  
                    ng-click="vm.onSubmit()">Invia richiesta</button>
        </div>

        
    </form>
</div>


</div>

<!-- DEBUG
{{bshowForm}}-{{apiReturnCode}}
<div ng-show="bshowForm" >T
    <p>TRUE</p>
    <div ng-show="apiReturnCode == 200" >SHOW 200</div>
    <div ng-show="apiReturnCode == 488" >SW 200</div>
    {{vm.responseMessage.title}}  
    {{vm.responseMessage.code}}
    {{vm.responseMessage.msg}}
    
</div>

<div ng-show="!bshowForm" >F
    <p>FALSE</p>
    <div ng-show="apiReturnCode == 200" >SHOW 200</div>
    <div ng-show="apiReturnCode == 488" >SW 200</div>
    {{vm.responseMessage.title}}  
    {{vm.responseMessage.code}}
    {{vm.responseMessage.msg}}
    {{btnTextSendButton}}
</div>
-->


<!-- ---------------------------------------- FORM RISULTATO ------------------------------------------------------ -->
<div class="container">
<div ng-show="!bshowForm" >
  
    <div  ng-switch on="apiReturnCode">
        <div ng-switch-when="200">
            <div class="alert alert-success">
                <h4><i class="material-icons">done</i> {{vm.responseMessage.title}}  ({{vm.responseMessage.code}})</h4>
            </div>
            <div class="well" role="alert">
                <p ng-bind-html="vm.responseMessage.htmlMsg"></p>
                <hr>
                <p>Le è stata inviata una mail all'indirizzo specificato nella richiesta con i presenti dati di riepilogo.</p>
            </div>
        
        </div>

         <div  ng-switch-default>
                    <div class="alert alert-danger">
                    <h4><i class="material-icons">error</i> {{vm.responseMessage.title}}  ({{vm.responseMessage.code}})</h4>
                    <h5>{{vm.responseMessage.msg}}</h5>
                    <h5>Riprovare più tardi.</h5>
                    <h5>Una segnalazione è già stata inviata all'amministratore di sistema.</h5>
         </div>

     </div>


           <button     type="submit"
                                class="btn btn-raised btn-info btn-block btn-lg"  
                                ng-click="vm.show_Form()">{{btnTextSendButton}}</button>
         
            
    </div>
</div>
</div>
