<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">          
             <div class="row">
                <div class="col-sm-1 col-md-2 col-xs-2">
                    <img  src="images/logo_comune_80x80.gif" alt="icon" style="width:50px; height: auto;">
                </div>
                <div class="col-sm-11 col-md-10 col-xs-10">
                    <h2>Comune di Rimini</h2>
                </div>
              </div>
         

    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">

          

          <h3>Presentazione di istanze online (BETA)</h3>
          <p>Il servizio permette di effettuare in modalità digitale la presentazione delle domande connesse ai principali procedimenti amministrativi.
Esso è basato sul Codice dell'Amministrazione Digitale (CAD), che sancisce il diritto da parte dei cittadini ad interagire con la Pubblica Amministrazione, utilizzando gli strumenti offerti dalle tecnologie ICT in alternativa alle modalità tradizionali basate su moduli cartacei. 
          </p>
          
<div class="alert alert-danger">

  <h3>Limitazioni del servizio</h3>

  <p><span class="badge">1</span>Verificare che per l'istanza che si vuole inoltrare non sia già stato predisposto un procedimento digitale. A tal fine consultare il seguente indizzo:</p>
  <a class="btn btn-raised btn-success btn-sm" href="http://www.comune.rimini.it/trasparenza-e-servizi/servizi">Comune di Rimini - Servizi online</a>
  

  <p><span class="badge">2</span>Le stanze che rientrano nel caso sopra citato verranno rigettate</p>
  <p><span class="badge">3</span>Limitazione 3</p>
       
</div>

          <h3>Istruzioni per l'accesso al servizio</h3>
          <p>Per accedere al servizio è necessario compilare accuratamente i seguenti dati:</p>
<ul>
  <li>Nome e Cognome</li>
  <li>Email (dove verrà trasmessa la ricevuta di avvenuta ricezione dell'istanza)</li>
  <li>Recapito telefonico (cellulare, per eventuali comunicazioni)</li>
  <li>Codice Fiscale</li>
</ul>

         <p>ed avere già preparato in forma digitale (<b>scansione o foto</b>):</p>

<ul>
  <li>Istanza di richiesta</li>
  <li>Documento di identità FRONTE</li>
  <li>Documento di identità RETRO</li>
</ul>

<br/>

<h4>Dichiarazione (cliccare sul segno di spunta)</h4>

  <div class="form-group">
  <div class="checkbox">
    <label>
      <input type="checkbox"  ng-model="btnCheck"> dichiaro di aver compreso le limitazioni del servizio e di voler procedere all'inoltro dell'istanza
    </label>
  </div>
</div>
  
    <div class="panel-footer"> 
          <button  class="btn btn-raised btn-raised btn-success btn-block" ng-disabled="!btnCheck" ng-click="goToInviaIstanza()">Procedi</button>
    </div>



        </div>
      </div>
    </div>

      

     

  </div>
</div>
</div>