/* Add application styles & imports to this file! */
/* Add application styles & imports to this file! */
@import '~bootstrap/dist/css/bootstrap.css';
@import "~@ng-select/ng-select/themes/default.theme.css";

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

body { 
    font-family: Roboto, Arial, sans-serif;
    padding: 5px;  
    background-color: #DDDDDD 
} 
