<h1>Errore:</h1>
<h5>Stato : {{ data?.status}}</h5>

<ul [ngSwitch]="data?.status">
  <li *ngSwitchCase="0" class="text-primary">
    <h5>Errore generico non classificato. Contattare l'amministratore di sistema.</h5>
    <h3>Dettagli errore</h3>
    <pre>{{ data | json }}</pre>
  </li>
  <li *ngSwitchCase="404"  class="text-primary">
      <h5>Pagina non trovata</h5>
  </li>
  <li *ngSwitchCase="401" class="text-primary">
    <h5>Utente non autorizzato, matricola e/o password errati.</h5>
    <h5>{{ data?.error?.data?.msg}}</h5>
    <h5>{{ data?.error?.message}}</h5>
    <a class="btn btn-primary submit-button" 
        
        [routerLink]="['/login']"><span>CLICCA PER RIFARE IL LOGIN</span></a>
  </li>

  <li *ngSwitchDefault   class="text-primary">
    <h5>Errore generico non classificato. Contattare l'amministratore di sistema.</h5>
    <h3>Dettagli errore</h3>
    <pre>{{ data | json }}</pre>
  </li>
</ul>


