<formly-transclude></formly-transclude>
<!-- versione modificata lasciando solo il messaggio ngMessage -->
<div class="formly-template-wrapper form-group"
          ng-class="{'has-error': options.validation.errorExistsAndShouldBeVisible}">
          <div class="formly-validation"
          ng-if="options.validation.errorExistsAndShouldBeVisible"
          ng-messages="options.formControl.$error">
          <!-- <div ng-messages-include="templates/formly-validation.html"></div>-->
          <div ng-message="{{::name}}" ng-repeat="(name, message) in ::options.validation.messages">
          {{message(options.formControl.$viewValue, options.formControl.$modelValue, this)}}
          </div>
      </div>
  </div>