 <div class="{{hideRepeat}}">
          <p>REPEAT UPLOAD{{to.help}}SECTION</p>
          <div class="row repeatsection" ng-repeat="element in model[options.key]" ng-init="fields = copyFields(to.fields)">
            <formly-form fields="fields"
                         model="element"
                         form="form">
            </formly-form>
            <div class="col-md-1 form-group">  
              <label>___</label>
               <button type="button" class="btn btn-danger" ng-click="delItem($index)">
               <span class="glyphicon glyphicon-remove-sign"></span>
              </button>

            </div>
         </div>
        <p class="AddNewButton">
          <button type="button" class="btn btn-primary btn-block" ng-click="openSelectFile()" >{{to.btnText}}</button>
        </p>
        <div style='height: 0px;width:0px; overflow:hidden;'>
          <input id="upfile" type="file" class="btn-file" multiple custom-on-change="addFiles" />
        </div>
        <button class="btn btn-danger btn-block" ng-click="startUpload()">Upload..</button>

 </div>