<ion-view class="" title="Report" left-buttons="leftButtons" right-buttons="rightButtons">
    
    <ion-nav-bar class="bar-royal">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
    </ion-nav-buttons>
      <ion-nav-buttons side="right" >
        <!-- <button class="button button-icon ion-more" ng-click="popover.show($event)"></button> -->
        <button class="button button-icon ion-edit" ng-click="openSortModal()"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    
    <ion-content has-header="true">
        <div>
              <div class="row">

               <div class="col">
                
                <label class="item item-input">
                  <div class="input-label">Report:</div>
                  <b>{{frmData.descReport}}</b>
                </label>

                <label class="item item-input">
                  <div class="input-label">Da data:
                  <b>{{frmData.dateDwFilter | date:'dd/MM/yyyy'}}</b>
                  </div>
                  <p>a data:</p>
                  <b>{{frmData.dateUpFilter | date:'dd/MM/yyyy' }}</b>
                </label>

                  <button class="button button-assertive button-block" 
                          ng-click="refreshDati()">Premi per aggiornare i dati</button>
              
              </div>
        
              </div>



<!--
    
      <div class="row report-title-row">
          <div class="col"><b>{{frmData.descReport}}</b></div>
      </div>
--> 

<!--
  <div ng-if="frmData.idReport == 1 && items.length">
      <canvas   id="doughnut" 
                class="chart chart-doughnut" 
                data="dataChart"
                legend="true"
                labels="labelsChart">
      </canvas> 
  </div>

  <div ng-if="frmData.idReport == 2 && items.length">
      <canvas   id="line" 
                class="chart chart-line" 
                data="dataChartLine"
                labels="labelsChartLine" 
                legend="true" 
                series="seriesChartLine"
                click="onClick">
      </canvas> 
  </div>
-->
<div class="card">
<ion-list class="card item-text-wrap">
        <div class="row">
          <div class="col col-20"><b>N.</b></div>
          <div class="col col-80"><b>Tipo</b></div>
        </div>
 
     <div  ng-show="items.length">
        <div ng-repeat="item in items">
          <!-- <div class="item item-body"> -->
            <div class="row">
              <div class="col col-20 report-item-row">{{::item.conteggio}}</div>
              <div class="col col-80 report-item-row">{{::item.tipo_segnalazione}}</div>
           </div>
        <!-- </div> -->
      </div>
   </div>




<!--     
     <div  ng-show="items.length">
            <div ng-repeat="item in items">
              <div ng-if="CreateGroupHeader(item.ANNOMESE)">
                <div class="item" style="background-color:yellow">
                  <div class="row">
                    <div class="col"><b>{{item.ANNO}}-{{item.MESE}}</b></div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col col-20"><b>N.</b></div>
                    <div class="col col-20"><b>%.</b></div>
                    <div class="col col-60"><b>Tipo</b></div>
                  </div>
                </div>
              </div>
              <div class="item item-body">
                <div class="row">
                  <div class="col col-20 report-item-row">{{item.conteggio}}</div>
                  <div class="col col-20 report-item-row">{{item.percentuale | number : 2}}</div>
                  <div class="col col-60 report-item-row">{{item.tipo_segnalazione}}</div>
                </div>
              </div>
            </div>
   </div>
-->
      <ion-item ng-hide="items.length" class="item-text-wrap">
          <h2>Non ci sono elementi da visualizzare</h2>
          <h2>Modificare le impostazioni di ricerca</h2>
      </ion-item>

 
</ion-list>
</div>


<!--
            <ion-list>


                <ion-item ng-repeat="item in ::items" class="item-text-wrap">
                  



                 <p><b>{{ item.fTIMEHHMMSS}} - {{item.fTIPO}} - {{item.fID}}</b></p>

                <div ng-if="item.fTIPO == 'SEGNALAZIONE'">
                  <p><b>Stato:</b>{{item.f2 | utc8change}}</p>
                  <p><b>Tipo:</b>{{item.f8 | utc8change}}</p>                   
                  <p><b>Richiedente:</b>{{item.f3}} ({{item.f4}})</p>
                  <p><b>Indirizzo:</b>{{item.f6}}</p>
                  <p>{{item.f9 | utc8change }}</p>
                 </div>
                <div ng-if="item.fTIPO == 'INTERVENTO'">
                      <p><b>Stato:</b>{{item.f2}}</p>
                      <p>{{item.f3 | utc8change}}</p>  
                      <p>{{item.f7 | utc8change}}</p>  
                      <p><b>Pattuglia:</b>{{item.f6 | utc8change}} {{item.f5}}</p>  
                 </div>
                 <div ng-if="item.fTIPO == 'COMUNICAZIONE'">
                      <p>{{item.f2 | utc8change}}</p> 
                      <p>{{item.f3 | utc8change}}</p> 
                      <p>{{item.f4 | utc8change}}</p> 
                 </div> 


                  <p><b>Tipo:</b>{{item.tipo_segnalazione | utc8change}}</p>
                  <p><b>Richiedente:</b>{{item.richiedente_nominativo}}</p>
                  <p><b>Indirizzo:</b>{{item.evento_indirizzo1}}</p>
                  <p>{{item.descrizione_breve | utc8change }}</p>
                  <p>{{item.descrizione_dettagliata | utc8change}}</p>
                  <hr ng-show="item.q2.length">
                  <p ng-repeat="intervento in item.q2">
                  </p>
                  <hr ng-show="item.q3.length">
                  <p ng-repeat="comunicazione in item.q3">
                  </p>

-->

                  <!--                                           
                    <ion-option-button class="button-positive"
                       ng-click="viewItem(item.id)">
                        Dettagli
                    </ion-option-button>
                </ion-item>
                  -->
            </ion-list>

        </div>
    </ion-content>
</ion-view>   
