<ion-side-menus>
        <fade-bar></fade-bar>
        <ion-pane ion-side-menu-content>
          <ion-nav-bar type="bar-assertive"></ion-nav-bar>
          <ion-nav-view name="menuContent"></ion-nav-view>
        </ion-pane>

        <ion-side-menu side="left" class="dark-bg" >
            <header class="bar bar-header bar-positive">
                <h1 class="title">GVPR-app</h1>
            </header>
          <ion-content has-header="true">
            <ul>
              <a href="#/menu/home" class="item item-icon-left item-dark"><i class="icon ion-home"></i>Home</a>
              <a href="#/menu/home" class="item item-icon-left item-dark menu-close"><i class="icon ion-home"></i>Home</a>
              <!-- <a href="#/menu/listProtocolli" class="item item-icon-left item-dark menu-close"><i class="icon ion-android-list"></i>Protocolli</a> -->
              <a href="#/menu/listSegnalazioni" class="item item-icon-left item-dark menu-close"><i class="icon ion-ios-paper"></i>Segnalazioni</a>
              <a href="#/menu/listBrogliaccio" class="item item-icon-left item-dark menu-close"><i class="icon ion-document-text"></i>Brogliaccio</a>
              <a href="#/menu/listReport" class="item item-icon-left item-dark menu-close"><i class="icon ion-clipboard"></i>Report</a>
              <a href="#/menu/velox" class="item item-icon-left item-dark menu-close"><i class="icon ion-clipboard"></i>Velox</a>
              <a href="#/menu/maps" class="item item-icon-left item-dark menu-close"><i class="icon ion-android-map"></i>Maps</a>
              <!-- <a href="#/menu/heat" class="item item-icon-left item-dark menu-close"><i class="icon ion-android-map"></i>Heat</a> -->
              <a href="#/menu/help" class="item item-icon-left item-dark menu-close"><i class="icon ion-help"></i>Guida</a>

              <!--
              <a href="#/menu/cordova" class="item item-icon-left item-dark menu-close"><i class="icon ion-help"></i>Cordova</a>
              <a href="#/menu/list" class="item item-icon-left item-dark menu-close"><i class="icon ion-search"></i>Preventivi</a>
                <a href="#/menu/about" class="item item-icon-left item-dark menu-close"><i class="icon ion-information"></i>Info</a>
                <a href="#/menu/listRelazioni" class="item item-icon-left item-dark menu-close"><i class="icon ion-settings"></i>Relazioni</a>
                <a href="#/menu/report" class="item item-icon-left item-dark menu-close"><i class="icon ion-document-text"></i>Stampe</a>
                <a href="#/menu/help1" class="item item-icon-left item-dark menu-close"><i class="icon ion-help"></i>P1</a>
              -->
            </ul>
          </ion-content>
        </ion-side-menu>
</ion-side-menus>






