<hello name="{{ name }}"></hello>

<h3>Consegna n. {{item?.id}} del {{item?.consegna_data_reg | date : "dd/MM/yyyy"}} operatore {{item?.consegna_operatore}}</h3>


<table class="table table-striped bg-light">
      <tr><td>Stato</td><td>{{item?.consegna_stato}}</td></tr>
      <tr><td>Soggetto</td><td>{{item?.consegna_soggetto}}</td></tr>
      <tr><td>Data</td><td>{{item?.consegna_data_reg | date : "dd/MM/yyyy"}}</td></tr>
      <tr><td>Documento</td><td>{{item?.consegna_documento}}</td></tr>
</table>  

<h3>Atti in consegna</h3>

<table class="table table-striped bg-light">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Codice atto</th>
      <th scope="col">Data Reg.</th>
      <th scope="col">Nominativo</th>
      <th scope="col">Consegnatario</th>
      <th scope="col">Cronologico</th>
      <th scope="col">Operatore</th>
    </tr>
  </thead>
  <tbody *ngFor="let item_ of item?.atti_in_consegna">
    <tr> 
     
      <td>{{item_.codice_atto.id }}</td>
      <td>{{item_.codice_atto.atti_data_registrazione | date : "dd/MM/yyyy"}}</td>
      <td>{{item_.codice_atto.atti_nominativo}}</td>
      <td>{{item_.codice_atto.atti_consegnatari.consegnatario_descrizione}}</td>
      <td>{{item_.codice_atto.atti_cronologico}}</td>
      <td>{{item_.attiinconsegna_codice_atto}} - {{item_.attiinconsegna_note}}</td>



      <td *ngIf="item.atti_flag_consegna == '0'">
        <button type="submit" 
                      (click)="showModificaAttoForm(item)"
                      class="btn btn-primary submit-button">Modifica</button>
      </td>

    </tr>

    <tr *ngIf="form2show == item.id">
      <td colspan="10" class="bg-warning">
          <form [formGroup]="formModifica">
            <formly-form [model]="modelModifica" [fields]="fieldsModifica" [options]="optionsModifica" [form]="form">
                <button type="submit" 
                (click)="updateAtto(item.id)"
                class="btn btn-primary submit-button">Aggiorna i dati</button>
                <button type="button" class="btn btn-default" (click)="hideModificaAttoForm()">Chiudi</button>
            </formly-form>
          </form>
      </td>
    </tr>
  </tbody>
</table>

<button type="button" class="btn btn-success btn-default" (click)="stampaRicevuta(item)">Stampa ricevuta</button>
<br/>
<button type="button" class="btn btn-success btn-default" (click)="getInfo()">Ricevuta</button>
<br/>
<button type="button" class="btn btn-success btn-default" (click)="stampaReportService()">Protocolla</button>

