<hello name="{{ name }}"></hello>
<h1>Preparazione consegna ...</h1>

<table class="table table-striped bg-light">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Data Reg.</th>
            <th scope="col">Nominativo</th>
            <th scope="col">Consegnatario</th>
            <th scope="col">Cronologico</th>
            <th scope="col">Azione</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of messages">
          <tr [ngClass]="[lastInsertedId == item.id  ? 'bg-warning' : '' ]"> 
            <td>{{item.id}}</td>
            <td>{{item.atti_data_reg | date : "dd/MM/yyyy"}}</td>
            <td>{{item.atti_nominativo}}</td>
            <td>{{item.atti_consegnatario}}</td>
            <td>{{item.atti_cronologico}}</td>
            <td>
                    <button 
                    *ngIf="this._appService.carrello.length > 0"
                    type="submit" 
                    (click)="removeItemFromList(item)"
                    class="btn btn-primary submit-button">Elimina dalla consegna</button>
            </td>
          </tr>
        </tbody>
    </table>



    <form [formGroup]="formConsegna">
        <formly-form [model]="modelConsegna" [fields]="fieldsConsegna" [options]="optionsConsegna" [form]="formConsegna">
            <button type="submit" 
                (click)="buildConsegna()"
                class="btn btn-primary submit-button">Crea la consegna</button>
                <button type="button" class="btn btn-default" (click)="resetFormConsegna()">Annulla</button>
        </formly-form>
    </form>