<hello name="{{ name }}"></hello>

<div *ngIf="action == 'ricerca'" class="alert alert-info">
<form [formGroup]="formSearch" (ngSubmit)="submitSearch()">
  <formly-form [model]="modelSearch" [fields]="fieldsSearch" [options]="optionsSearch" [form]="form">
  </formly-form>
</form>
</div>

<div *ngIf="action == 'inserimento'" class="alert alert-info">
<form [formGroup]="formNew" (ngSubmit)="submitNew()">
  <formly-form [model]="modelNew" [fields]="fieldsNew" [options]="optionsNew" [form]="form">
  </formly-form>
</form>
</div>


<table class="table table-striped bg-light">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Data Reg.</th>
      <th scope="col">Nominativo</th>
      <th scope="col">Consegnatario</th>
      <th scope="col">Cronologico</th>
      <th *ngIf="action == 'ricerca'" scope="col">Estremi consegna</th>
      <th scope="col">Id/Operatore</th>
      <th *ngIf="action == 'ricerca'" scope="col">Azione</th>
    </tr>
  </thead>
  <tbody *ngFor="let item of items">
    <tr [ngClass]="[lastInsertedId == item.id  ? 'bg-warning' : '' ]"> 
      <td>{{item.id}}</td>
      <td>{{item.atti_data_reg | date : "dd/MM/yyyy"}}</td>
      <td>{{item.atti_nominativo}}</td>
      <td>{{item.atti_consegnatario}}</td>
      <td>{{item.atti_cronologico}}</td>
      <td *ngIf="action == 'ricerca'">{{item.atti_data_consegna}} - {{item.atti_documento}} - {{item.atti_soggetto}} - {{item.atti_note}} - {{item.atti_operatore_consegna}} - {{item.atti_flag_consegna}}</td>
      <td><small>{{item.id}} <br/> {{item.atti_operatore}}</small></td>
      <td *ngIf="action == 'ricerca' && item.atti_flag_consegna == '0'">

        <!--
        <div *ngIf="action == 'inserimentoFAKE'">
          <button type="submit" 
                  (click)="eliminaAtto(item.id)"
                  class="btn btn-primary submit-button">Elimina</button>
        </div>
      -->

        <!-- <div *ngIf="action == 'ricerca' && item.atti_flag_consegna == '0'"> -->
          <button type="submit" 
                    (click)="showConsegnaForm(item.id)"
                    class="btn btn-primary submit-button">C</button>

          <button type="submit" 
                    (click)="aggiungiAllaConsegna(item)"
                    class="btn btn-success submit-button">In Consegna</button>


        <!-- </div> -->
        
      </td>
    </tr>
    <tr *ngIf="action == 'ricerca' && form2show == item.id">
      <td colspan="10" class="bg-warning">
          <form [formGroup]="formConsegna" (cli)="eliminaAtto(item.id)">
            <formly-form [model]="modelConsegna" [fields]="fieldsConsegna" [options]="optionsConsegna" [form]="form">
                <button type="submit" 
                (click)="updateConsegna(item.id)"
                class="btn btn-primary submit-button">Aggiorna i dati di consegna</button>
                <button type="button" class="btn btn-default" (click)="resetFormConsegna()">Annulla</button>
            </formly-form>
          </form>
      </td>
    </tr>
  </tbody>
</table>

<button type="button" class="btn btn-success btn-default" (click)="stampaReport()">Stampa report</button>

