<nav class="navbar navbar-expand-sm navbar-light bg-primary">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link text-white" 
            [routerLinkActive]="['bg-warning']"
            [routerLink]="['/atti/inserimento']"><span>ATTI INSERIMENTO</span></a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link text-white" 
            [routerLinkActive]="['bg-warning']"
            [routerLink]="['/atti/ricerca']"><span>ATTI RICERCA</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" 
            [routerLinkActive]="['bg-warning']"
            [routerLink]="['/consegna/ricerca']"><span>ATTI CONSEGNE</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" 
            [routerLinkActive]="['bg-warning']"
            [routerLink]="['/consegna/inserimento']"><span>ATTI DA CONSEGNARE: {{_userService.carrello.length}}</span></a>
        </li>


        <li class="nav-item">
            <a class="nav-link text-white" 
            [routerLinkActive]="['bg-warning']"
            [routerLink]="['/raccomandate/inserimento']"><span>RACCOMANDATE INSERIMENTO</span></a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link text-white" 
            [routerLinkActive]="['bg-warning']"
            [routerLink]="['/raccomandate/ricerca']"><span>RACCOMANDATE RICERCA</span></a>
        </li>


<!--
        <li class="nav-item">
            <a class="nav-link text-white" 
                  [routerLink]="['/socket']"
                  [routerLinkActive]="['btn-warning','text-black']" ><span>@sio@</span></a>
        </li>
-->
      </ul>

        
        <a class="nav-link text-white" 
        [routerLinkActive]="['bg-warning']"
        [routerLink]="['/login']"><span>{{_userService.username}}</span></a>


    </div>
  </nav>  
  

<!-- Router Outlet -->
<router-outlet></router-outlet>