<section>


  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-all-xl u-padding-r-top u-padding-bottom-xxl">

    <h1 class="u-text-h2">ERRORE</h1>

    <div class="Prose Alert Alert--error Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom" role="alert">
        <h2 class="u-text-h3">
            Si è verificato un errore
        </h2>
        <p class="u-text-p">{{title}}</p>
        <p class="u-text-p">{{message}}</p>
    </div>

    <small>{{obj}}</small>
    
    
<h2 class="u-text-h3">Azione che è possibile effettuare</h2>

           <ul>

        <li><p>Attraverso il presente portale è possibile consultare le istanze che sono elencate alla voce "Elenco Istanze"opportunamente strutturate. A tal fine consultare il seguente indirizzo:</p>
        <a class="Button Button--default u-text-r-xs" ui-sref="anagraficaDemanio" ui-sref-active="active">Accesso alla consultazione</a></li>

   <li><p>L'accesso viene ...:</p>
  <a class="Button Button--default u-text-r-xs" href="http://www.comune.rimini.it/trasparenza-e-servizi/servizi">Prima registrazione al portale</a></li>
  
            </ul>
<h2 class="u-text-h3">Istruzioni per l'accesso al servizio</h2>



<p>Per l'inoltro di istanze attraverso questo portale è <b>OBBLIGATORIO</b> un account FedERa o SPID</p>

<a class="Button Button--default u-text-r-xs" href="https://www.spid.gov.it/">COME OTTENERE UN ACCOUNT ACCOUNT SPID</a> 
 <a class="Button Button--default u-text-r-xs" href=" http://federazione.lepida.it/ ">COME OTTENERE UN ACCOUNT FEDERA</a>

 <p></p>

 <h2 class="u-text-h3">Contatti:</h2>
<p>Referente Comune di Rimini PAGLIARANI STEFANO stefano.pagliarani@comune.rimini.it  0541-704323</p>
    
    </article>
  </div>


</section>

