<div class="modal-header bg-error">
    <h4>Stampa bloccata</h4>
    <h4>Eseguire le seguenti operazioni una sola volta</h4>
</div>


<!-- <img ng-src="{{modal.imgSource}}" alt="Description"/> -->


<!-- <p>{{modal.imgSource}}</p> -->

<div class="modal-body">
         
        <img src="images/popup-unlock.jpg" alt="Description1"/>

</div>
                    
<div class="modal-footer">
  
    <h4>Poi riprovare a stampare</h4>
    

    <button type="button" class="btn btn-default btn-raised" ng-click="cancel()">Chiudi</button>
    <!-- <button type="button" class="btn btn-success btn-raised" ng-click="save()" ng-disabled="(nameDialog.$dirty && nameDialog.$invalid) || nameDialog.$pristine">Salva</button> -->
</div>
