<section>


  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-all-xl u-padding-r-top u-padding-bottom-xxl">

   

    <div class="Prose Alert Alert--error Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom" role="alert">
        <h2 class="u-text-h3">
            Si è verificato un errore
        </h2>
        <p class="u-text-p">{{title}}</p>
        <p class="u-text-p">{{message}}</p>
    </div>


    <a class="Button Button--info u-text-r-xs"  ui-sref="login" ui-sref-active="active">Disconnetti</a>
       
    


    </article>
  </div>


</section>

