<section>


  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-all-xl u-padding-r-top u-padding-bottom-xxl">

    <h1 class="u-text-h2">Portale Istanze Comune di Rimini -  Esegui Istanza</h1>
    <p class="u-text-r-s">t1</p>
    <h2 class="u-text-h3 u-padding-r-top">A2</h2>
    <p class="u-text-r-m">t3</p>
    
    <p class="u-text-r-m u-padding-r-bottom">{{info.Descrizione}}</p>

    
    <h2 class="u-text-h3 u-padding-r-top">Form di compilazione per l'invio dell'istanza</h2>
    <p class="u-text-r-m">Compilare i dati sottostanti ...</p>


    <form   name="vm.userForm"
            ng-show="!isSubmitting"
            novalidate>

    <fieldset class="Form-fieldset">
        <div class="Form-field">
            <label class="Form-label is-required" for="multistepForm.nomeRichiedente">Nome Richiedente</label>
            <input  class="Form-input u-text-r-s u-borderRadius-m" 
                    id="nomeRichiedente"
                    name="nomeRichiedente"
                    ng-model="nomeRichiedente" 
                    aria-required="true" 
                    ng-minlength="1"
                    ng-maxlength="80"
                    required>
                    <div ng-messages="vm.userForm.nomeRichiedente.$error" 
                         ng-if="vm.userForm.nomeRichiedente.$touched"
                         style="color:maroon" 
                         role="alert">
                        <div ng-message="required"  class="Prose Alert Alert--error Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom">Campo richiesto</div>
                        <div ng-message="minlength" class="Prose Alert Alert--error Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom">Valore troppo corto</div>
                        <div ng-message="maxlength" class="Prose Alert Alert--error Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom">Valore troppo lungo</div>
                    </div>                       
        </div>
        
        <div class="Form-field">
            <label class="Form-label is-required" for="multistepForm.cognomeRichiedente">Cognome Richiedente</label>
            <input  class="Form-input u-text-r-s u-borderRadius-m" 
                    id="cognomeRichiedente" 
                    name="cognomeRichiedente"
                    aria-required="true" 
                    ng-model="cognomeRichiedente"
                    ng-minlength="1"
                    ng-maxlength="80"
                    required
                    >
            <!-- <pre>{{vm.userForm.nomeRichiedente.$error}}</pre> -->

            <div    ng-messages="vm.userForm.cognomeRichiedente.$error" 
                    ng-if="vm.userForm.cognomeRichiedente.$touched"
                    style="color:red" role="alert">
                        <div ng-message="required"  class="Prose Alert Alert--error Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom">Campo richiesto</div>
                        <div ng-message="minlength" class="Prose Alert Alert--error Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom">Valore troppo corto</div>
                        <div ng-message="maxlength" class="Prose Alert Alert--error Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom">Valore troppo lungo</div>
            </div>                    
        </div>
       
        <div class="Form-field">
            <label class="Form-label is-required" for="multistepForm.cognomeRichiedente">Email per i contatti (eventuale PEC se presente)</label>
            <input  class="Form-input u-text-r-s u-borderRadius-m" 
                    id="emailRichiedente" 
                    name="emailRichiedente"
                    aria-required="true" 
                    ng-model="emailRichiedente"
                    ng-minlength="1"
                    ng-maxlength="60"
                    required
                    >
            <!-- <pre>{{vm.userForm.nomeRichiedente.$error}}</pre> -->

            <div    ng-messages="vm.userForm.emailRichiedente.$error" 
                    ng-if="vm.userForm.emailRichiedente.$touched"
                    style="color:red" role="alert">
                        <div ng-message="required"  class="Prose Alert Alert--error Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom">Campo richiesto</div>
                        <div ng-message="minlength" class="Prose Alert Alert--error Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom">Valore troppo corto</div>
                        <div ng-message="maxlength" class="Prose Alert Alert--error Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom">Valore troppo lungo</div>
            </div>                    
        </div>

        <div class="Form-field">
            <label class="Form-label is-required" for="multistepForm.cognomeRichiedente">Email (conferma)</label>
            <input  class="Form-input u-text-r-s u-borderRadius-m" 
                    id="emailConfermaRichiedente" 
                    name="emailConfermaRichiedente"
                    aria-required="true" 
                    ng-model="emailConfermaRichiedente"
                    ng-minlength="1"
                    ng-maxlength="60"
                    required
                    >
            <!-- <pre>{{vm.userForm.nomeRichiedente.$error}}</pre> -->

            <div    ng-messages="vm.userForm.emailConfermaRichiedente.$error" 
                    ng-if="vm.userForm.emailConfermaRichiedente.$touched"
                    style="color:red" role="alert">
                        <div ng-message="required"  class="Prose Alert Alert--error Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom">Campo richiesto</div>
                        <div ng-message="minlength" class="Prose Alert Alert--error Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom">Valore troppo corto</div>
                        <div ng-message="maxlength" class="Prose Alert Alert--error Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom">Valore troppo lungo</div>
            </div>                    
        </div>



        <div class="Form-field">
            <label class="Form-label is-required" for="multistepForm.cognomeRichiedente">Recapito telefonico (preferibilmente il  cellulare)</label>
            <input  class="Form-input u-text-r-s u-borderRadius-m" 
                    id="recapitoTelefonicoRichiedente" 
                    name="recapitoTelefonicoRichiedente"
                    aria-required="true" 
                    ng-model="recapitoTelefonicoRichiedente"
                    ng-minlength="1"
                    ng-maxlength="20"
                    required
                    >
            <!-- <pre>{{vm.userForm.nomeRichiedente.$error}}</pre> -->

            <div    ng-messages="vm.userForm.recapitoTelefonicoRichiedente.$error" 
                    ng-if="vm.userForm.recapitoTelefonicoRichiedente.$touched"
                    style="color:red" role="alert">
                        <div ng-message="required"  class="Prose Alert Alert--error Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom">Campo richiesto</div>
                        <div ng-message="minlength" class="Prose Alert Alert--error Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom">Valore troppo corto</div>
                        <div ng-message="maxlength" class="Prose Alert Alert--error Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom">Valore troppo lungo</div>
            </div>                    
        </div>

        <div class="Form-field">
            <label class="Form-label is-required" for="nome">Eventuali note</label>
            <input  class="Form-input u-text-r-s u-borderRadius-m" 
                    id="noteRichiedente" 
                    name="noteRichiedente"
                    aria-required="true" 
                    ng-model="noteRichiedente"
                    ng-minlength="0"
                    ng-maxlength="100"
                    >
            <!-- <pre>{{vm.userForm.nomeRichiedente.$error}}</pre> -->

            <div ng-messages="vm.userForm.noteRichiedente.$error" style="color:red" role="alert">
                        <div ng-message="required"  class="Prose Alert Alert--error Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom">Campo richiesto</div>
                        <div ng-message="minlength" class="Prose Alert Alert--error Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom">Valore troppo corto</div>
                        <div ng-message="maxlength" class="Prose Alert Alert--error Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom">Valore troppo lungo</div>
            </div>                    
        </div>

        <h2 class="u-text-h3 u-padding-r-top">Allegati obbligatori (N)</h2>
        <p class="u-color-red-50 u-text-h4 u-padding-r-top ">N.B. gli allegati devono obbligatoriamente essere in formato PDF e la dimensione di ogni allegato NON deve superare i 2MB.</p>
        <p class="u-text-h4 u-padding-r-top">{{info.file1.description}}</p>
        
        <div class="Form-field">
            <input 
                type="file" 
                ngf-select 
                ng-model="file1" 
                class="Button Button--default u-text-r-xs u-inlineBlock" 
                name="file1"    
                accept="text/csv" 
                ngf-pattern="'application/pdf'"
                ngf-max-size="2MB" 
                ngf-select 
                ngf-min-size="1"
                required>

               <!--  <pre>{{vm.userForm.file.$error}}</pre> -->

                <div ng-messages="vm.userForm.file1.$error" 
                     ng-if="vm.userForm.file1.$touched"
                style="color:maroon" role="alert" multiple>
                    <div ng-message="required"  class="Prose Alert Alert--error Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom">Allegato obbligatorio - selezionare un file</div>
                    <div ng-message="pattern"   class="Prose Alert Alert--error Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom">Formato non valido SOLO PDF</div>
                    <div ng-message="maxSize"   class="Prose Alert Alert--error Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom">Dimensione allegato supera 2MB</div>
                </div>   
        </div>
        
        
        <p class="u-text-h4 u-padding-r-top">{{info.file2.description}}</p>

        <div class="Form-field">
            <input 
                type="file" 
                ngf-select 
                ng-model="file2" 
                class="Button Button--default u-text-r-xs u-inlineBlock" 
                name="file2"    
                accept="text/csv" 
                ngf-pattern="'application/pdf'"
                ngf-max-size="2MB" 
                ngf-select 
                ngf-min-size="1"
                required>

               <!--  <pre>{{vm.userForm.file.$error}}</pre> -->

                <div ng-messages="vm.userForm.file2.$error" style="color:maroon" role="alert" multiple>
                    <div ng-message="required"  class="Prose Alert Alert--error Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom">Allegato obbligatorio - selezionare un file</div>
                    <div ng-message="pattern"   class="Prose Alert Alert--error Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom">Formato non valido - SOLO PDF</div>
                    <div ng-message="maxSize"   class="Prose Alert Alert--error Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom">Valore troppo corto</div>
                </div>   
        </div>

        
        <p class="u-text-h4 u-padding-r-top">{{info.file3.description}}</p>
        <div class="Form-field">
            <input 
                type="file" 
                ngf-select 
                ng-model="file3" 
                class="Button Button--default u-text-r-xs u-inlineBlock" 
                name="file3"    
                accept="text/csv" 
                ngf-pattern="'application/pdf'"
                ngf-max-size="2MB" 
                ngf-select 
                ngf-min-size="1"
                required>

               <!--  <pre>{{vm.userForm.file.$error}}</pre> -->

                <div ng-messages="vm.userForm.file3.$error" style="color:maroon" role="alert" multiple>
                    <div ng-message="required"  class="Prose Alert Alert--error Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom">Allegato obbligatorio - selezionare un file</div>
                    <div ng-message="pattern"   class="Prose Alert Alert--error Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom">Formato non valido - SOLO PDF</div>
                    <div ng-message="maxSize"   class="Prose Alert Alert--error Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom">Valore troppo corto</div>
                </div>   
        </div>
        
    


        

        <button type="button"
                class="Button Button--default u-text-r-xs u-inlineBlock btn-block"  
                ng-click="formPreviousStatus()">Passo precedente</button>

  </fieldset>
    </form>

  <hr>
  <pre>{{vm.userForm | json}}</pre>
  <hr>
  <pre>{{vm.model | json}}</pre>
  <hr>

 <h2 class="u-text-h3">Contatti:</h2>
<p>Referente Comune di Rimini *****</p>
    
  </div>


</section>

