<section>


  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-all-xl u-padding-r-top u-padding-bottom-xxl">

    <h1 class="u-text-h2">
      Portale Istanze Comune di Rimini - DEMO
    </h1>
    <p class="u-text-r-s">Portale di elenco delle possibili istanze che è possibile presentare. Non è necessario in quanto è possibile arrivare direttamete al modulo di invio dai bottoni sosttostanti</p>
    <h2 class="u-text-h3 u-padding-r-top">Azione che è possibile effettuare</h2>
    <p class="u-text-r-m">Attraverso il presente portale è possibile consultare le istanze che sono elencate alla voce "Elenco Istanze"opportunamente strutturate. A tal fine consultare il seguente indirizzo: Quis et id repellat harum eligendi natus. Animi voluptatem adipisci ea autem possimus laboriosam vitae deleniti voluptas. Optio veritatis in hic non illo. Dolores nam in veniam repellat aut id qui dolor.</p>
    

    <div class="Grid-cell u-flex u-margin-r-bottom">
        <div class="u-nbfc u-borderShadow-xxs u-borderRadius-m u-color-grey-90 u-background-white">
            <div class="u-text-r-l u-padding-r-all u-layout-prose">
                <p class="u-text-h6 u-margin-bottom-l">Domanda di Autorizzazione/Licenza Pubblico Spettacolo </p>
                <!-- <h3 class="u-text-h4 u-margin-r-bottom"><a class="u-text-r-m u-color-black u-textWeight-400 u-textClean" href="">Aut quod dicta maiores aut cupiditate.</a></h3> -->
                <a class="Button Button--default u-text-r-xs" ui-sref="eseguiIstanza({id: 'TUR01'})">Invia l'istanza</a>
            </div>
        </div>
    </div>
    
    <div class="Grid-cell u-flex u-margin-r-bottom">
        <div class="u-nbfc u-borderShadow-xxs u-borderRadius-m u-color-grey-90 u-background-white">
            <div class="u-text-r-l u-padding-r-all u-layout-prose">
                <p class="u-text-h6 u-margin-bottom-l">Domanda di autorizzazione di attività temporanea di vendita su aree pubbliche</p>
                <!-- <h3 class="u-text-h4 u-margin-r-bottom"><a class="u-text-r-m u-color-black u-textWeight-400 u-textClean" href="">Aut quod dicta maiores aut cupiditate.</a></h3> -->
                <a class="Button Button--default u-text-r-xs" ui-sref="eseguiIstanza({id: 'TUR02'})">Invia l'istanza</a>
            </div>
        </div>
    </div>

    <div class="Grid-cell u-flex u-margin-r-bottom">
        <div class="u-nbfc u-borderShadow-xxs u-borderRadius-m u-color-grey-90 u-background-white">
            <div class="u-text-r-l u-padding-r-all u-layout-prose">
                <p class="u-text-h6 u-margin-bottom-l">Istanza di prova</p>
                <!-- <h3 class="u-text-h4 u-margin-r-bottom"><a class="u-text-r-m u-color-black u-textWeight-400 u-textClean" href="">Aut quod dicta maiores aut cupiditate.</a></h3> -->
                <a class="Button Button--default u-text-r-xs" ui-sref="eseguiIstanza({id: 'F24'})">Invia l'istanza</a>
            </div>
        </div>
    </div>

    <div class="Grid-cell u-flex u-margin-r-bottom">
        <div class="u-nbfc u-borderShadow-xxs u-borderRadius-m u-color-grey-90 u-background-white">
            <div class="u-text-r-l u-padding-r-all u-layout-prose">
                <p class="u-text-h6 u-margin-bottom-l">Istanza Generica</p>
                <!-- <h3 class="u-text-h4 u-margin-r-bottom"><a class="u-text-r-m u-color-black u-textWeight-400 u-textClean" href="">Aut quod dicta maiores aut cupiditate.</a></h3> -->
                <a class="Button Button--default u-text-r-xs" ui-sref="eseguiIstanza({id: 'GEN01'})">Invia l'istanza</a>
            </div>
        </div>
    </div>

    <div class="Grid-cell u-flex u-margin-r-bottom">
        <div class="u-nbfc u-borderShadow-xxs u-borderRadius-m u-color-grey-90 u-background-white">
            <div class="u-text-r-l u-padding-r-all u-layout-prose">
                <p class="u-text-h6 u-margin-bottom-l">Istanza Autenticata</p>
                <!-- <h3 class="u-text-h4 u-margin-r-bottom"><a class="u-text-r-m u-color-black u-textWeight-400 u-textClean" href="">Aut quod dicta maiores aut cupiditate.</a></h3> -->
                <a class="Button Button--default u-text-r-xs" ui-sref="eseguiIstanza({id: 'FED01'})">Invia l'istanza</a>
            </div>
        </div>
    </div>
    
    <div class="Grid-cell u-flex u-margin-r-bottom">
        <div class="u-nbfc u-borderShadow-xxs u-borderRadius-m u-color-grey-90 u-background-white">
            <div class="u-text-r-l u-padding-r-all u-layout-prose">
                <p class="u-text-h6 u-margin-bottom-l">Istanza Dinamica</p>
                <!-- <h3 class="u-text-h4 u-margin-r-bottom"><a class="u-text-r-m u-color-black u-textWeight-400 u-textClean" href="">Aut quod dicta maiores aut cupiditate.</a></h3> -->
                <a class="Button Button--default u-text-r-xs" ui-sref="eseguiIstanzaDinamica({id: 'DIN01'})">Invia l'istanza</a>
            </div>
        </div>
    </div>

<!--

<div class="u-background-compl-10 u-layout-centerContent u-padding-r-top">
        
            <section class="u-layout-wide u-layout-r-withGutter u-text-r-s u-padding-r-top u-padding-r-bottom">
        
                <h2 id="news" class="u-layout-centerLeft u-text-r-s">
                    <a class="u-color-50 u-textClean u-text-h3 " href="">Modalità di accesso</a>
                </h2>
        
                <div class="Grid Grid--withGutterM">
        
                    <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex u-margin-r-bottom u-flexJustifyCenter">
                        <div class="u-nbfc u-borderShadow-xxs u-borderRadius-m u-color-grey-30 u-background-white">
                            <div class="u-text-r-l u-padding-r-all u-layout-prose">
                                <p class="u-text-h6 u-margin-bottom-l"><a class="u-color-50 u-textClean" href="">Accesso Ente</a></p>
                                <h3 class="u-text-h4 u-margin-r-bottom"><a class="u-text-r-m u-color-black u-textWeight-400 u-textClean" href="">Aut quod dicta maiores aut cupiditate.</a></h3>
                                <p class="u-text-p u-textSecondary">Accesso attraverso le credenziali fornite dall'Ente</p>
                                <a class="Button Button--default u-text-r-xs" ui-sref="login">Login</a>
                                <p class="u-text-p u-textSecondary">Informazioni</p>
                                <a class="Button Button--default u-text-r-xs" ui-sref="consultazione">Consultazione</a>
                            </div>
                        </div>
        
                    </div>
        
                    <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex u-margin-r-bottom u-flexJustifyCenter">
                        <div class="u-nbfc u-borderShadow-xxs u-borderRadius-m u-color-grey-30 u-background-white">
                            <div class="u-text-r-l u-padding-r-all u-layout-prose">
                                <p class="u-text-h6 u-margin-bottom-l"><a class="u-color-50 u-textClean" href="">SPID</a></p>
                                <h3 class="u-text-h4 u-margin-r-bottom"><a class="u-text-r-m u-color-black u-textWeight-400 u-textClean" href="">Aut quod dicta maiores aut cupiditate.</a></h3>
                                <p class="u-text-p u-textSecondary">Accesso tranite SPID ....</p>
                                <a class="Button Button--default u-text-r-xs" ui-sref="login">spid</a>
                                <p class="u-text-p u-textSecondary">Come ottenere le credenziali SPID ecc...</p>
                                <a class="Button Button--default u-text-r-xs" href="https://www.spid.gov.it/">Informazioni SPID</a> 
                            </div>
                        </div>
        
                    </div>
        
                    <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex u-margin-r-bottom u-flexJustifyCenter">
                        <div class="u-nbfc u-borderShadow-xxs u-borderRadius-m u-color-grey-30 u-background-white">
                            <div class="u-text-r-l u-padding-r-all u-layout-prose">
                                <p class="u-text-h6 u-margin-bottom-l"><a class="u-color-50 u-textClean" href="">Federa</a></p>
                                <h3 class="u-text-h4 u-margin-r-bottom"><a class="u-text-r-m u-color-black u-textWeight-400 u-textClean" href="">Aut quod dicta maiores aut cupiditate.</a></h3>
                                <p class="u-text-p u-textSecondary">Quis et id repellat harum eligendi natus. Animi voluptatem adipisci ea autem possimus laboriosam vitae .</p>
                                <a class="Button Button--default u-text-r-xs" ui-sref="login">Federa</a>
                                <p class="u-text-p u-textSecondary">Come ottenere un accoun FEDERA</p>
                                <a class="Button Button--default u-text-r-xs" href=" http://federazione.lepida.it/ ">Informazioni FEDERA</a>
                            </div>
                        </div>
        
                    </div>
        
                </div>
        
        
        
            </section>
        
            <a href="#utilita" class="Forward Forward--floating js-scrollTo" aria-hidden="true">
            <span class="Icon Icon-expand u-color-grey-40"></span>
          </a>
        
        </div>

    -->



 <h2 class="u-text-h3">Contatti:</h2>
<p>Referente per il procedimento Comune di Rimini - Ufficio *****</p>
    
  </div>


</section>

