<section>

<div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-all-xl u-padding-r-top u-padding-bottom-xxl">
          
    <h1 class="u-text-h2">Gestione autenticazione attraverso SPID o FEDERA</h1>
        <article class="Prose">

      


      
        <div ng-if="!isAuthenticated()">

        <h2>Accesso tramite SPID o FEDERA</h2>

        <p>Cliccando il bottone seguente è possibile accedere all'account SPID o FEDERA per poi procedere all'inoltro dell'istanza</p>
        <a class="Button Button--default u-text-r-xs" href="{{fullApiEndpoint}}">
            <i class="ion-social-linkedin"></i>LOG IN con SPID o FEDERA
        </a>

        <hr>

             <h2>Istruzioni per l'accesso al servizio</h2>
<p>Per l'inoltro di istanze attraverso questo portale è <b>OBBLIGATORIO</b> un account FedERa o SPID. Per ottenere una account SPID o FEDERE seguire le guide elencate qui di seguito:</p>

<a class="Button Button--info u-text-r-xs" href="https://www.spid.gov.it/">COME OTTENERE UN ACCOUNT ACCOUNT SPID</a> 
<br>
<a class="Button Button--indo u-text-r-xs" href=" http://federazione.lepida.it/ ">COME OTTENERE UN ACCOUNT FEDERA</a>



        </div>

        <div ng-if="isAuthenticated()">
            <p>Cliccando il bottone seguente è possibile disconnettersi dall'account SPID o FEDERA</p>
              <button class="Button Button--danger u-text-r-xs" ng-click="logout('')">
                DISCONNETTI
              </button>
          </div>


        </article>
</div>        
</section>